[2015-01-29 20:14] IlnarSelimcan opened #8 "Subreadings not displayed correctly"
Current output
===========
китапмы ↬ +мы  ↤  qst
                         китап  ↤  n ⋅ nom
                         китап  ↤  n ⋅ nom
                         китап  ↤  n ⋅ nom
                  +и  ↤  cop ⋅ p3 ⋅ pl
                         китап  ↤  n ⋅ nom
                  +и  ↤  cop ⋅ p3 ⋅ sg
                         китап  ↤  n ⋅ nom

Expected output
============
китапмы ↬ китап  ↤  n ⋅ nom

[2015-02-11 07:42] unhammer opened #9 "unintrusive notification about installation when we have several timeouts in a row"
when apertium.org js gets several timeouts in a row, could we have a little notice about "our site seems to be a bit overloaded, you may be interested in learning how to install apertium on your computer"

[2015-02-12 07:44] unhammer opened #10 ""suggest a better translation""
We really should have a way for users to
- tell us when a particular translation is bad / could be better
- and also to give longer word lists

I'm not sure if this can be just one box that's expandable or what the best UI would be.

[2015-08-13 08:38] unhammer opened #12 "add spell checking?"
some ideas regarding the UI:
http://wiki.apertium.org/wiki/Talk:Spell_checking#Spell_checking_for_apertium.org.3F

[2015-08-17 17:05] jonorthwash opened #13 "target language selection in dropdown"
"it would be nice if html-tools auto-switched to first available target language"

[2015-08-17 17:53] unhammer commented on #13
auto-detect target language ;-)

[2015-08-19 08:19] unhammer opened #14 "q=input+text"
It'd be cool if the contents of the q parameter were put into the input text box.

I'm not 100 % sure if we should do like google and update it in the URL (gets a bit ugly for large texts, maybe only for small ones?)

[2015-08-19 08:34] jonorthwash commented on #12
From https://sourceforge.net/p/apertium/tickets/6/

In fact, a mostly working version has already been implemented, just is disabled by default because the backend doesn't work.  See work done during GCI2014:
* [HTML-TOOLS SPELL-CHECKER INTERFACE](https://www.google-melange.com/gci/task/view/google/gci2014/5892261774622720)

Related tasks:
* [MAKE VOIKKOSPELL UNDERSTAND APERTIUM STREAM FORMAT INPU

[2015-08-19 18:26] sushain97 commented on #14
A little experimenting shows Google stores up to 1300 chars in the URL, probably due to limitations in the size of GET requests. We can do the same. They do not however as we do store the text in LocalStorage.

Thoughts?

[2015-08-19 18:43] unhammer commented on #14
I like having it in localStorage, think we should keep doing that.

I guess people look less and less at URL's these days (many browsers now hide the non-domain part to avoid some scam methods).

[2015-08-19 19:12] sushain97 commented on #14
We could do the URL in addition to LocalStorage. I can see a good number of people sharing translations via URL.

[2015-08-19 21:29] jonorthwash opened #15 "Module extraction"
from http://www.google-melange.com/gci/task/view/google/gci2013/5827136816414720

[2015-08-21 02:11] jonorthwash opened #16 "localised language name should default to native name if localisation not known"
This seems to work for some languages, but not others.  In the attached screenshot, it works for `bak`, `kum`, `chv`, `tur`, but not `nog`, `sah`, `tyv`, `uig`, despite all being in apertium-apy's database (as of [r61517](https://sourceforge.net/p/apertium/svn/61517/)).  This may be a bug in [apertium-apy](http://wiki.apertium.org/wiki/Apertium-apy), but requires investigation either way.

![scree

[2015-08-21 04:39] sushain97 commented on #16
This behavior is by design.

Apertium APY's database is not used for this localization since it would require too many requests.

Instead, the native names are hardcoded in https://github.com/goavki/apertium-html-tools/blob/master/assets/js/localization.js#L2. The languages you mention need to be added to it.

[2015-08-21 04:43] jonorthwash commented on #16
Oh, it doesn't get them from the database that apy uses?

[2015-08-21 04:44] sushain97 commented on #16
No, it doesn't. That would require one request per target language.

[2015-08-21 04:45] jonorthwash commented on #16
Oof, I see.  Okay, I'll add that then! :D

[2015-08-21 04:48] #16 closed

[2015-08-21 04:59] jonorthwash opened #17 "find a font that doesn't have terrible Perso-Arabic support"
The current font is great for Latin, Cyrillic, and Hebrew scripts, but Perso-Arabic script looks terrible.  Mostly it's having trouble with non-Arabic letters and combinations.

![screenshot_2015-08-21_005853](https://cloud.githubusercontent.com/assets/963849/9401606/e99f090e-479f-11e5-85ba-45d3a97bb2e4.png)

[2015-08-21 05:07] jonorthwash opened #18 "Make the subtitle display "correctly" in RTL localisations."
Compare subtitle ("Turkic") placement in the following screenshots.  Make RTL languages behave better than they are currently, and look close to as nice as LTR languages:

![screenshot_2015-08-21_010609](https://cloud.githubusercontent.com/assets/963849/9401665/f16a1466-47a0-11e5-8097-84b472cd07f3.png)

![screenshot_2015-08-21_010525](https://cloud.githubusercontent.com/assets/963849/9401666/f5140

[2015-08-21 05:11] jonorthwash opened #19 "dropdown improvements for RTL localisations"
Compare the following language dropdowns for RTL and LTR localisations.  The scrollbar in the RTL dropdown covers the first few (or last few) letters of each language name, and yet there's a bit space on the opposite side.  It's as if there is a padding setting, but it's on the wrong side?  Also, there's some issue with left- and right-aligning all the language names (depending on the currently lo

[2015-08-21 05:14] jonorthwash commented on #14
Yeah, that seems reasonable to me too.  Having short translations hotlinkable would be cool.  When would it update the url, though?  As the source text is being entered, when focus is lost on input, after the translation is performed, ... ?

[2015-08-21 05:17] sushain97 commented on #14
It would make sense to update the URL whenever a translation is performed, this would be equivalent to loss of focus and our current system of x seconds of keyboard inactivity.

[2015-08-21 05:18] jonorthwash commented on #14
But that's only the case if instant translation is selected.  What if it's not?

[2015-08-21 05:30] jonorthwash opened #20 "localisation instructions should reference github, not subversion"
Update [localisation instructions](http://wiki.apertium.org/wiki/Apertium-html-tools#Localisation) to reference github instead of sourceforge's subversion.

[2015-08-21 05:33] sushain97 commented on #14
Monitor just loss of focus and inactivity? Basically, maintain the timer either way but always update and only translate if instant is selected.

[2015-08-21 05:34] jonorthwash commented on #12
This issue has essentially been completed; instead, we need some work on those related issues first.  I.e., we need libvoikko support for APy, and as part of that it would be good to have voikko included as apertium modes that understand apertium stream format.

[2015-08-21 05:34] jonorthwash commented on #14
Seems reasonable enough.

[2015-08-22 05:01] jonorthwash commented on #19
Actually, the issue seems to be more complicated than this.  If a RTL localisation is the one the page loads on by default, then those dropdowns display correctly (with scrollbar on the left and not covering anything on the right, and no weird extra padding).  If it's then switched to a LTR localisation *without reloading the page* then the LTR dropdown has the same problem originally reported, bu

[2015-08-22 05:14] sushain97 commented on #19
I feel like I have experienced this exact behavior before and narrowed it down to Chrome behaving badly.

[2015-09-08 15:54] flammie opened #21 "URL rewrite ignores path"
When opening http://flammie.dyndns.org/apy/ the URL gets rewritten to http://flammie.dyndns.org/index.???.html, which do not exist currently. URL in config.conf does include the path part like so:
[code]

[2015-09-08 18:18] sushain97 commented on #21
@flammie Try out the fix and let me know how it works :smile:

[2015-09-08 19:04] flammie commented on #21
Seems to work for me now.

[2015-09-08 19:04] #21 closed

[2015-11-27 17:56] havet opened #23 "Sort localisation languages in GUI"
I noticed that the list of localisation languages locales.json is used
"as is" in the drop down list.  It would be more user friendly if it was sorted.

I suppose this would be a minor change in localization.js, but
unfortunately I've never learnt javascript. I got confused looking at
the code. I'd better not touch it.

[2015-11-29 03:56] sushain97 commented on #23
I don't think that the natural sorting in JS of this particular set of language names would be particularly meaningful since many fall in different sections of the Unicode standard. Perhaps we would be best off defining a particular order we would prefer them to be in and setting that order.

[2015-12-04 07:27] Putti opened #24 "Change in language not taking effect immediately"
The string "Translation not yet available!" (in the target language's output box) doesn't change immediately to another language when changing the site's language. In order to change the string to another language you need to change the source language text input or change the translation pair etc.

[2015-12-04 13:02] svineet commented on #24
How to reproduce:
* Type something and switch source language such that the destination language selected before is not supported for the source language now selected. "Translation not yet available" is shown.
* From the select box on the top right select some random language.
* Translation not yet available will not change, but on clicking translate again it will change to newly selected language

[2015-12-04 14:23] sushain97 commented on #24
At first glance, this looks like it will *always* make the text in the translated text box the "Not Available" text, even when there is a translation available. Did you test it?

[2015-12-04 14:33] #24 closed

[2015-12-04 14:35] sushain97 commented on #18
@jonorthwash, could you update Turkic and see if this issue persists?

[2015-12-04 16:28] jonorthwash commented on #18
Seems to be behaving more nicely :)

[2015-12-08 16:48] sushain97 commented on #13
Complete with #26 and #27

[2015-12-08 16:48] #13 closed

[2016-01-05 16:12] sushain97 commented on #19
I think that this has been fixed in Chrome:

![](https://l.skc.name/cbwic)

I'm running 47.0.2526.106 (Official Build) m (64-bit) with Blink 537.36. Please verify whether it's still an issue for you.

[2016-01-05 18:52] jonorthwash commented on #19
![screenshot_2016-01-05_135109](https://cloud.githubusercontent.com/assets/963849/12124419/712166cc-b3b3-11e5-87e9-fd3828417034.png)

I need to look into the status of that constant-sending-of-voice-data issue before I update chromium.

[2016-01-05 18:54] jonorthwash commented on #19
Also, is there any way to get ltr languages on the left and rtl languages on the right, regardless of what the localisation is and which side the scrollbar is on?

[2016-01-05 19:33] svineet commented on #20
this has been fixed

[2016-01-06 00:52] sushain97 commented on #19
Should be fixed with cce47f522221f2f3fff0e2ffc6b1dc13394f43e7.

[2016-01-06 12:36] svineet opened #36 "Use a JSON config file instead of a config.conf file."
Easier to parse for both JavaScript and Python, and avoids the processing we need to do to convert into JSON from ConfigParser syntax.

[2016-01-06 12:54] unhammer commented on #36
is the config.conf parsed from js? (what if we want something like a secret key in a future version of the config?)

[2016-01-06 13:12] svineet commented on #36
No, during the `make` process we convert config.conf from python's ConfigParser syntax to JSON and then store it as JSON to `build/assets/js/config.js`. I don't understand why we need python as an intermediate, I think we should consider using a config.json file instead, avoiding the extra processing in `read-conf.py`.

About secret keys, IMHO it would be bad design to use anything like a secret k

[2016-01-06 13:29] unhammer commented on #36
The config.conf can't be read by the user since it's in a parent folder, but OTOH I can't think of any good reason currently to have secrets for the frontend build.

If having a JSON config makes the code simpler all round it's probably a Good Thing, but I'm not quite convinced it will: Any replacement for `read-conf.py` would also have to be able to query the json during build (see the Makefile),

[2016-01-06 13:31] svineet commented on #36
good point, should I close this?

[2016-01-06 13:31] #36 closed

[2016-01-06 19:02] jonorthwash commented on #19
Works for me in now-upgraded version of chromium, as well as whatever version of iceweasel I have.  I think it may have introduced some new bugs in iceweasel though?

![screenshot_2016-01-06_140128](https://cloud.githubusercontent.com/assets/963849/12151611/0abf6692-b47e-11e5-887d-fe19b99dec85.png)

[2016-01-06 19:06] jonorthwash commented on #18
I'm not sure if this is the ideal behaviour.  The "Turkic" part is on the wrong side of "Apertium", I'd say.
![screenshot_2016-01-06_140536](https://cloud.githubusercontent.com/assets/963849/12151742/a4f81196-b47e-11e5-9f94-ed7de2db44ad.png)

[2016-01-07 07:04] jonorthwash commented on #20
The progresstable.sh link still points to svn.

[2016-01-07 07:04] jonorthwash commented on #20
Also this page: http://wiki.apertium.org/wiki/Apertium-html-tools/Localisation

[2016-01-11 14:48] svineet commented on #14
I am working on this, but it does not seem to be possible. Changing `window.location.href` triggers a refresh automatically. What google translate does it that it changes the `#part` to the query string but we are already using that part for modes (`#translation`).

Maybe we should add a permalink button beside instant translation, that adds a q parameter to the url and on load the page respects t

[2016-01-11 16:13] xavivars commented on #14
@svineet, it can be done but not by direcctly changing `window.location.href`.

You need to use `window.history.state` in order to change the URL without refreshing.

More info (it can be a bit outdated, as the link is pretty old):  http://spoiledmilk.com/blog/html5-changing-the-browser-url-without-refreshing-page/

[2016-01-11 16:42] sushain97 commented on #14
@svineet, exactly what @xavivars said. See https://github.com/goavki/apertium-html-tools/blob/master/assets/js/persistence.js.

[2016-01-12 10:03] unhammer opened #38 ""Translation not yet available" when simply no target language selected"
don't know if this is would/should be fixed by the auto-select target language changes

[2016-01-12 14:40] svineet commented on #14
okay I used `replaceState`, thanks @xavivars and @sushain97.

[2016-01-13 10:27] #14 closed

[2016-01-13 12:15] svineet opened #40 "Major layout problems on Firefox"
![meh](http://i.imgur.com/aToDley.png)

This bug is probably because of the bootstrap-rtl upgrade I did, but it seems to work perfectly on Edge (TinoDidriksen tested) and Chrome (I tested, and so did TinoDidriksen). I tried downgrading bootstrap-rtl but it does not seem to work.

I will get to this soon.

[2016-01-16 07:23] unhammer commented on #15
lang.detection is already there in html-tools?

[2016-01-16 13:30] jonorthwash commented on #15
Yeah, the originally worded task was for GCI2013, so there have been changes since then that will have to be taken into account.

[2016-01-17 18:14] #40 closed

[2016-01-30 08:54] imakhil25 commented on #18
can you help me find the exact file path to that turkic file where it shows that way as it's in the image you have uploaded because it found that  it looks fine at  turkic.apertium.org  @jonorthwash

[2016-01-30 08:56] jonorthwash commented on #18
https://github.com/goavki/apertium-html-tools/blob/master/index.html.in#L89

[2016-01-30 09:03] jonorthwash opened #48 "Forced refresh causes character set to mess up if language is heb?"
![screenshot_2016-01-30_035929](https://cloud.githubusercontent.com/assets/963849/12694786/41f90010-c706-11e5-9c7e-67bc1e530e86.png)

Steps to reproduce issue:
1. Open http://turkic.apertium.org
2. Set page language to Hebrew
3. Shift-ctl-r (or force page reload)

Note that a bunch of non-RTL text becomes RTL.

I've tested this in multiple browsers, and in fresh-cache modes, and the behaviour appe

[2016-01-30 19:34] sushain97 commented on #48
Can reproduce. Absolutely no idea what's going on...

[2016-01-30 19:38] sushain97 commented on #48
Nevermind. This doesn't require hard-refresh or anything. Just switching to heb and refreshing will do the job and it's due to the HTML being transmitted with the wrong encoding: "Content-Type:text/html; charset=iso-8859-8". Should be fixed through Apache settings.

[2016-01-31 01:08] jonorthwash commented on #48
I set `AddDefaultCharset utf-8` in `charset.conf`, but the behaviour remains unchanged.  Or is this not the right thing to be changed?

Imho, if something as big as this needs to be set in apache, we need to include it in the docs.

[2016-02-01 07:57] jonorthwash opened #49 "Input box and output area should work more sensibly for analysis when RTL text is involved"
Currently this is what it looks like:
![screenshot_2016-02-01_021343](https://cloud.githubusercontent.com/assets/963849/12711624/618343ca-c88f-11e5-8cf7-9e353b48ae7f.png)

The text box should at the very least have the text right-justified, and the output should probably be flipped.  I'm not sure what to do about mixing RTL text with LTR tags....

[2016-02-11 14:04] unhammer opened #50 "include hash of CDN scripts (jquery, bootstrap)"
https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity
seems simple enough

[2016-02-11 14:07] TinoDidriksen commented on #50
What I found is that it'll completely break in some browsers. I used the default Bootstrap CDN tags with integrity, and it just wouldn't load correctly or consistently, so gave up on integrity. If you do enable, be sure to test in all relevant browsers.

[2016-02-11 14:08] sushain97 commented on #50
+1

--
Sushain K. Cherivirala
www.skc.name

On Thu, Feb 11, 2016 at 9:04 AM, Kevin Brubeck Unhammer <
notifications@github.com> wrote:

[2016-02-19 16:04] roybaer opened #52 "Bandwidth-efficient document translation"
Hi! I just wanted to share the following idea:

Basics:

- Odt and docx files are ZIP archives
- Only the textual content is needed for translation
- Files within ZIP archives are compressed individually

The following process could therefore (perhaps dramatically) reduce the network bandwidth required for document translation:

1. Read the entire document file into RAM using javascript
2. Copy th

[2016-02-21 15:03] unhammer commented on #52
Isn't everything gzipped automagically when the server says that it supports compression?

[2016-02-21 19:28] jonorthwash commented on #8
I believe some languages prefer the current directionality (it's specified somewhere in the module).  Perhaps the interface could support both, and even have an easy way to reverse it from the default?

[2016-02-21 21:18] roybaer commented on #52
That is true, but misses the point.

The actual point is, that docx and odt files **are** ZIP files **already** and that a javascript could leave unneeded parts thereof out of the transmission with relative ease, i.e without any de- and recompression, since files within a ZIP are independently compressed bitstreams.

Translating an odt file with e.g. 20 KB (compressed) textual content and 5 MB jpe

[2016-02-22 08:45] unhammer commented on #52
OK, I see the point about leaving images out – patches are welcome :-) as long as they're well-tested; this seems like it could easily have unintended consequences (apertium already is quite brittle when it comes to preserving document structure).

But I don't agree that it's worthwhile trying to avoid gzipping zip files just to save some CPU time – the compression is even in the HTTP spec https:/

[2016-03-07 09:01] unhammer opened #54 "Swedish not shown in l10n drop-down"
but swe.json is in assets/strings and locales.json

[2016-05-16 04:25] svineet opened #55 "Suggestions interface"
The suggestions work on the backend was merged into the suggestions branch in this PR: https://github.com/goavki/apertium-apy/pull/18

Overall, the suggestions route works and is almost production ready, but the following needs to be taken care of (feel free to add anything in the comments):
* The UI in html tools needs refinement. spectie and firespeaker had some ideas, we could discuss this here

[2016-05-17 22:48] jonorthwash commented on #55
I merged the two open suggestions PRs (https://github.com/goavki/apertium-html-tools/pull/35, https://github.com/goavki/apertium-html-tools/pull/37) into the suggestions branch.  Now @Kira-D should go through your list of to-do points.

[2016-05-19 20:47] Kira-D commented on #55
@svineet can you, please, give me more information about the UI refinement?
What sort of tests do you have in mind?

[2016-05-20 05:00] sushain97 opened #58 "Kira-D's GSOC Work"
Hi @Kira-D, here are most of the improvements we currently have on our wishlist for Apertium's website, some editorial comments on them and links to relevant places. I've tried to sort it in roughly increasing difficulty and categorized it a bit. I would recommend starting with some of the easier ones to gain a familiarity with the codebase. I've bolded three of the most significant improvements.

[2016-05-20 21:54] sushain97 commented on #54
This isn't an issue with html-tools, it's an issue with apertium.org.

@ftyers, `git pull && make clean && make -j32` in html-tools, please.

[2016-05-20 21:54] #54 closed

[2016-06-06 07:11] unhammer opened #59 "q= removes newlines"
try putting

[code]

into the text field; the URL goes q=abc, should probably urlencode (or whatever it's called) those newlines into %-something

[2016-06-08 11:47] unhammer opened #60 "sometimes empty output box in epiphany-browser, firefox"
[code]

sometimes but not always, I get no output in the output box, even though the translation request is obviously sent and received.
[out.zip](https://github.com/goavki/apertium-html-tools/files/304668/out.zip)

[2016-06-08 20:54] jonorthwash opened #61 "language list sometimes goes off edge of screen"
![screenshot_2016-06-08_165307](https://cloud.githubusercontent.com/assets/963849/15910587/9327468c-2d99-11e6-85f4-130b6e817173.png)

[2016-06-08 20:56] jonorthwash opened #62 "Text sometimes goes off bottom of screen"
Text sometimes goes off bottom of screen, even when there's plenty of space...
![screenshot_2016-06-08_165307](https://cloud.githubusercontent.com/assets/963849/15910663/ecddf5f4-2d99-11e6-8dd6-9d9d0b24f0e4.png)

[2016-06-08 21:07] jonorthwash opened #63 "bad displaying of available languages"
Not all possible translation languages are displayed in bar of available languages, and unavailable ones are displayed instead.
![screenshot_2016-06-08_170554](https://cloud.githubusercontent.com/assets/963849/15910946/711b2dcc-2d9b-11e6-83f4-291d3325e91e.png)

[2016-06-08 21:10] jonorthwash commented on #23
My impression at one point was that we were [manually] sorting it in English-alphabetical order of ISO code, but it would be good to decide on a standard and go with it.

[2016-06-08 21:44] sushain97 commented on #23
What do you think:

![image](https://cloud.githubusercontent.com/assets/4211838/15912097/5bd5caa8-2d87-11e6-9e2f-da83bf81d4e5.png)

![image](https://cloud.githubusercontent.com/assets/4211838/15912128/85bce59a-2d87-11e6-9338-f6fc74ade365.png)

[2016-06-08 21:46] jonorthwash commented on #23
Those seem to be just unicode sorted by name?

[2016-06-08 21:52] sushain97 commented on #23
'sorted by name' is a tad bit ambiguous in this context :P

[2016-06-08 21:54] jonorthwash commented on #23
The native name that's displayed, I mean

[2016-06-08 22:37] jonorthwash opened #64 "language names are sometimes duplicated"
The languages eng_US and English seem to be differentiated here for no reason:
![screenshot_2016-06-08_183645](https://cloud.githubusercontent.com/assets/963849/15913440/0678b374-2da8-11e6-8495-f5466787b35c.png)

[2016-06-08 22:38] jonorthwash opened #65 "dropdown button sometimes disappears"
The dropdown button for the list of languages on translation input side is sometimes covered by the reverse button:
![screenshot_2016-06-08_183645](https://cloud.githubusercontent.com/assets/963849/15913464/2406133c-2da8-11e6-9109-4509946f9ff5.png)

[2016-06-08 23:26] jonorthwash opened #66 "different languages listed for source/destination"
![screenshot_2016-06-08_192603](https://cloud.githubusercontent.com/assets/963849/15914450/f555a866-2dae-11e6-9ef0-3f0ddc9c52f6.png)
![screenshot_2016-06-08_192543](https://cloud.githubusercontent.com/assets/963849/15914452/f78106b2-2dae-11e6-82d8-0b7cf7508e0b.png)

[2016-06-10 00:49] sushain97 commented on #23
@jonorthwash better?

[2016-06-10 01:33] jonorthwash commented on #23
Uhh, I didn't file this bug, and didn't mind manually sorting it, since I was the one deciding how it got manually sorted most of the time :-P

[2016-06-10 01:42] sushain97 commented on #23
This should give us the ordering you said looked good on IRC! Mostly wanted you to verify how it looked on Turcik :)

[2016-06-10 02:37] jonorthwash commented on #23
It seems to sort as expected on [turkic.apertium.org](http://turkic.apertium.org).  @havet, what do you think?

[2016-06-23 08:10] unhammer commented on #60
I'm now seeing this in Firefox too. If I open dev console, the /translate response has the full translated text, so this is definitely on the JS side.

[2016-06-25 17:28] sushain97 commented on #62
This has the same screenshot as #61.

[2016-06-25 17:30] sushain97 commented on #61
I can't duplicate this. What browser are you using

[2016-06-25 17:30] jonorthwash commented on #62
Aye, but a different bug.

[2016-06-25 17:32] jonorthwash commented on #61
Chromium.  I just tried again on my updated version and I can't reproduce it either.

[2016-06-25 17:33] sushain97 commented on #63
I don't think that this would be good behavior since it would override the recent destination languages.

[2016-06-25 17:33] sushain97 commented on #64
Where is this, i.e. which APY?

[2016-06-25 17:34] sushain97 commented on #65
Having trouble duplicating this one as well. Browser?

[2016-06-25 17:35] jonorthwash commented on #61
Aha, I can duplicate it.  You have to get it to wrap the languages on the right, and have a narrow browser window size.  Here's one way to do it: use Russian localisation, select Эсперанто (Esperanto) as the source language, let it adjust the languages on the right, then select Датский (Danish) as the source language, let it adjust again (should be wrapped now), and try to select a language on the

[2016-06-25 17:37] jonorthwash commented on #63
Should it at least put the default one first?

[2016-06-25 17:37] jonorthwash commented on #64
Hrm, we need to migrate all those SVN tickets to github, no?

[2016-06-25 17:38] sushain97 commented on #63
I think that if there's already one in the recents that is a valid language it picks it and if there isn't any, it boots out the last one and pulls in a new one. I like this behavior since it doesn't shuffle around the UI much. But either way has its advantages...

[2016-06-25 17:40] jonorthwash commented on #65
Chromium.  In order to reproduce, you need to select languages that take up the right amount of space.  Here's another instance of it.
![screenshot_2016-06-25_133939](https://cloud.githubusercontent.com/assets/963849/16358179/4f233aa6-3ada-11e6-9391-f470262d89d9.png)

[2016-06-25 17:42] sushain97 commented on #60
I can't duplicate this :(

![image](https://cloud.githubusercontent.com/assets/4211838/16358186/6d18e178-3ac1-11e6-97c7-1d4e4c8c812f.png)

(v47.0)

[2016-06-25 17:45] sushain97 commented on #64
Yep... we do.

[2016-07-08 17:10] jonorthwash opened #67 "translation textbox too small when switching from analysis"
If you load an analysis-only url, such as http://turkic.apertium.org/index.kir.html?choice=kir#analyzation and then click translation, the textboxes come up really small, as in the following screenshot:

![screenshot_2016-07-08_130917](https://cloud.githubusercontent.com/assets/963849/16695341/4729880e-450d-11e6-92cc-d8f50476a79c.png)

When reloading the page, they resize correctly.

[2016-07-09 15:58] sushain97 commented on #67
@jonorthwash, let me know if it works better now/

[2016-07-09 20:08] jonorthwash commented on #67
Seem to be behaving as expected now.  Thanks!

[2016-07-09 20:08] #67 closed

[2016-08-31 09:21] ftyers opened #75 "Gsoc logo link is broken in 'About' box"
Here is the new logo link:

https://summerofcode.withgoogle.com/static/img/summer-of-code-logo.svg

[2016-09-02 17:02] ftyers opened #76 "Doesn't work on Android"
I got this email:

<p>Ei Fran,</p>

[code]

[ebdiempbhecnpdap.png](https://postimg.org/image/ygt3bf72j/)

[2016-09-02 20:51] sushain97 commented on #76
I don't think this has anything to do with Android. It works well on my Android device.

[2016-09-04 15:45] ftyers commented on #76
Here are the versions:

[code]

Maybe it's too old ?

[2016-09-28 11:49] unhammer commented on #60
![skjermbilete_2016-09-28_13-47-53](https://cloud.githubusercontent.com/assets/56868/18912358/46a78bc8-8582-11e6-907b-2800cbc9331e.png)
I still get this on Firefox 49. As the console shows, the request is received just fine.

[2016-09-28 11:54] unhammer commented on #60
A localStorage.clear() and ctrl+shift+R seems to have made it work again. Old localStorage was http://sprunge.us/PAIK. Still no wiser.

[2016-09-28 11:56] unhammer opened #79 "414: Request-URI too large (should use POST?)"
I tried translating the text of http://www.elespanol.com/ciencia/tecnologia/20160926/158484429_0.html and got "Translation not yet available!", console showed the request was sent as GET and got back a 414.

[2016-10-22 19:02] unhammer opened #80 "disentangle js files ("modules")"
Currently, there's a lot of interdependency in the js files, e.g. localisation depends on stuff from util that depends on stuff from localisation. It'd be nice if the dependencies were hierarchical (no cycles), to make it possible to use e.g. http://flowtype.org/ on the individual files instead of just on the concatenation of the whole project :)

[2016-11-22 14:00] #60 closed

[2016-11-30 19:34] SilentFlame commented on #65
unable to reproduce.

I guess because of small size language names present for English language based browsers.
How can I reproduce the issue?

[2016-11-30 20:38] jonorthwash commented on #65
@SilentFlame, you can set the language to Kyrgyz (кыргызча) or Russian (русский) using the localisation dropdown in the top right, as in the examples.  I think you just have to cycle through the various available pairs until it lines up like this.

[2016-11-30 20:40] jonorthwash commented on #65
I was just able to reproduce it in firefox by getting long language names all to line up on the right side.
![selection_004](https://cloud.githubusercontent.com/assets/963849/20770337/5bc10e22-b713-11e6-93b0-b2564505b0a2.png)

[2016-11-30 20:41] jonorthwash commented on #65
@SilentFlame, it also seems to help to make the browser window narrower, so that it switches to one of the smaller display modes.  Then you don't need such long language names to trigger the issue.

[2016-11-30 21:58] SilentFlame opened #81 "Inconsistency in the translated view of the page."
when we change the language to something other than `english` some of the texts on the page gets translated into that language and some does not.
Some texts are in that too random, I mean they do get translated in some and not in some other.
example: observe the *Mark Unknown words*, *Translate a document*, the sub-heading below "Apertium", seen as below:
![1](https://cloud.githubusercontent.com/a

[2016-11-30 22:30] sushain97 commented on #81
This is not a defect. The behavior is as intended. The translated versions of all strings are not available. What is available is displayed and the English is used otherwise.

[2016-11-30 22:31] #81 closed

[2016-12-01 12:00] SilentFlame commented on #81
Oh sorry then. I thought that as an issue or something like that.

[2016-12-07 06:58] VictorVelev commented on #79
I want to fix it!

[2016-12-18 22:53] sushain97 opened #82 "Language variant picker"
Displaying language variants as distinct languages in the translator language selector is awkward and repetitive. Allowing users to first select a language and then display radio buttons for choosing a variant below the relevant translation box, if relevant, provides a better user interface.

The variants would be sorted alphabetically and the first valid option would be selected. Options would co

[2016-12-18 22:54] sushain97 commented on #64
Moved to #82

[2016-12-18 22:54] #64 closed

[2016-12-18 23:08] sushain97 commented on #17
I'm definitely missing the buggy part of this. Could you point it out?

[2016-12-18 23:15] #23 closed

[2016-12-18 23:18] sushain97 commented on #48
I don't think that's the right thing to fix. I still get `Content-Type:text/html; charset=iso-8859-8`. Can you add to the `.htaccess` or `httpd.conf`?

[2016-12-18 23:41] sushain97 commented on #10
Duplicate of #55 (yes this one came first but the other has more info :)

[2016-12-18 23:41] #10 closed

[2016-12-18 23:46] sushain97 opened #83 "Website translation"
This feature has been often requested and used to be present on the old website.

[2016-12-19 00:03] jonorthwash commented on #48
Okay, I put `AddDefaultCharset utf-8` in `.htaccess` in the html-tools directory.

[2016-12-19 00:07] sushain97 commented on #48
This still hasn't fixed it... I'm quite confused since this isn't an issue on apertium.org :(

[2016-12-19 00:11] jonorthwash commented on #17
Yeah, the non-Arabic letters aren't connecting to one another.  E.g., the line at the top should be like this:
![screenshot from 2016-12-18 19-08-32](https://cloud.githubusercontent.com/assets/963849/21297851/899270ca-c555-11e6-84b9-fc403578c237.png)

The next-to-last word analysed should look like this:
![screenshot from 2016-12-18 19-10-51](https://cloud.githubusercontent.com/assets/963849/21297

[2016-12-19 00:17] jonorthwash commented on #23
So wait, it's unicode-sorted by native name now?

[2016-12-19 00:19] jonorthwash commented on #48
Huh...  I can add it to `httpd.conf` and see what happens.

[2016-12-19 01:15] sushain97 commented on #23
Yes.

[2016-12-19 01:25] jonorthwash commented on #23
Fair enough.

[2016-12-19 09:54] unhammer commented on #82
How would the workflow be for translating between the variants? Like cat→cat_valencia or whatever

[2016-12-21 01:54] sushain97 commented on #82
You would select Catalan on both sides and it would default to using a variant on the destination side != the target side. Sound good?

[2016-12-21 07:59] unhammer commented on #82
My worry is that the UI turns a bit "undiscoverable" – I certainly wouldn't guess that Apertium could translate into Valencian if I didn't see it in the language list on my first click, so how would I know that I had to select Catalan on both sides to do that?

One possible solution would be to somehow mark languages-with-variants differently in the (target) language selector, but I can't think of

[2016-12-21 23:06] jonorthwash commented on #8
Here's another example:

![selection_008](https://cloud.githubusercontent.com/assets/963849/21409359/de44f17a-c7a7-11e6-8de9-76b040de3d58.png)

The analysis the transducer is providing is `^yapabilir misin/yap<v><tv><abil><aor>+mı<qst>+i<cop><aor><p2><sg>$`, which means we should get something like this:

yapabilir misin  ↬ yap  ↤  v ⋅ tv ⋅ abil ⋅ aor
___________________+mı  ↤  qst
_______________

[2016-12-22 15:43] sushain97 commented on #82
We could have the language selector have a dropdown beside the language name (to indicate variants) but then it's a dropdown within a dropdown...

[2016-12-22 16:19] sushain97 commented on #17
From https://sourceforge.net/p/apertium/tickets/27/:

https://code.google.com/p/noto/
http://www.google.com/get/noto/#/
We can provide the interface with a mapping of languages -> font using one of the Noto fonts. For example, if the interface is switched to Hebrew, the site will load Noto Sans Hanunoo. This will help provide a more consistent aesthetic.

Google's approach to this is just using Ar

[2016-12-22 16:28] jonorthwash commented on #17
Does Arial support enough stuff for our purposes?

[2016-12-22 16:57] sushain97 commented on #17
@jonorthwash http://stackoverflow.com/a/378196/1266600 font replacement confuses me...

[2016-12-22 17:00] sushain97 commented on #17
I like:
![image](https://cloud.githubusercontent.com/assets/4211838/21433486/97cb3392-c835-11e6-94b7-ef3c79c270a3.png)

[2016-12-22 17:33] jonorthwash commented on #17
I'm happy to go with Noto.

[2016-12-23 11:11] unhammer commented on #82
Hm, what if we do like this:

![variants](https://cloud.githubusercontent.com/assets/56868/21452657/bdc28220-c908-11e6-85cd-b330b3ef6bca.png)

and then when someone clicks "katalansk", it defaults to "cat", but that second selector shows?

[2016-12-25 04:41] sushain97 opened #85 "Multiple q parameters"
@unhammer:

migrated from https://sourceforge.net/p/apertium/tickets/72/.

[2016-12-25 04:41] sushain97 commented on #85
Whoops, wrong repo.

[2016-12-25 04:41] #85 closed

[2016-12-28 15:36] flammie opened #86 "Initial make curl not found failure should be clearer"
I was trying to install html-tools afterv apy on a new virtual server I got, and it failed with missing curl. This may easily go unnoticed by any user, you should probably consider adding some autotools magic or stuff.

[code]

[2016-12-28 16:30] sushain97 commented on #86
![image](https://cloud.githubusercontent.com/assets/4211838/21526273/874ffb62-cce8-11e6-83a5-a2276d3baf3d.png)

This is a listed prereq :)

[2016-12-28 19:46] unhammer commented on #86
https://github.com/goavki/apertium-html-tools/commit/ab7d3ad51b78c2214d737dba62eab571d2481238 gives

[code]
– a bit clearer?

[2016-12-28 20:15] flammie commented on #86
@unhammer said:

Yes much better, I think the thing is is you wouldn't of course expect to not have curl either, and the situation of deploying new stuffs is always over minilaptop on the go dodgy internets... thanks. (Like, midori doesn't support quoting on github...)

[2016-12-28 20:15] #86 closed

[2017-01-05 18:28] sushain97 opened #87 "Chained translation support"
New [features](https://github.com/goavki/apertium-apy/pull/43) added to APy make it possible to chain translations. Html-tools support should function by allowing a configuration flag to enable chained translations. This would make a checkbox appear in the UI, i.e. "Enable translation chaining" or something less jargon-y. Then, the language lists would be modified to have all possible chained pair

[2017-01-06 03:43] jonorthwash opened #88 "search engine optimisation"
Have meta data so searches find stuff.  If you search for various languages supported by various deployments of html-tools in various languages stuff is localised for, search engines don't find the websites easily.  But if you search for "free open-source translation platform" in various languages it does.

E.g., if you search for "Kazakh-Kyrgyz translation" or similar in Kazakh or Kyrgyz, turkic.

[2017-01-07 20:19] shardulc commented on #87
I would like to work on this for my [GCI task](https://codein.withgoogle.com/dashboard/task-instances/6369028421451776/).

[2017-01-08 21:45] sushain97 opened #90 "JS should use strict;"
All our JS should `use strict;`

from IRC:

[3:40pm] shardulc: sushain: oh, forgot to change that
[3:40pm] shardulc: there's more Hound errors anyway
[3:40pm] shardulc: TinoDidriksen: what does 'use strict' do?
[3:40pm] sushain: TinoDidriksen: yeah, omitting an argument didn’t feel great which is why I suggested just having _variablename
[3:40pm] TinoDidriksen: Enables strict mode.
[3:41pm] TinoDi

[2017-01-08 22:28] sushain97 commented on #87
After #89,

1. Document translation should disable chained translation until this has been implemented APy side (note to self: create an issue for this).
2. x-x translation should not be allowed.
3. Example config needs to have new variable.
4. eng.json should have the new string.
5. Translation not available should be displayed if translation is attempted with a no-longer-possible pair after disa

[2017-01-08 22:34] sushain97 opened #91 "Chained translation path display"
It would be cool to have chained translation display the path taken to get from say eng => kaz.

@jonorthwash

[2017-01-08 22:54] #90 closed

[2017-01-09 08:37] sushain97 opened #95 "Proper subtitle support (text + color in config)"
As requested by @jonorthwash

[2017-01-09 16:39] sushain97 commented on #38
@unhammer does this look fixed to you?

[2017-01-09 19:29] #18 closed

[2017-01-09 19:30] #95 closed

[2017-01-09 20:40] unhammer commented on #38
Probably; I tried `localStorage.clear()` on  https://apertium.org/ and then changed the url back to https://apertium.org/ (to avoid setting `?dir`); I couldn't reproduce it.

[2017-01-09 20:40] #38 closed

[2017-01-09 21:55] sushain97 commented on #58
Closing this since it's outdated and this GSOC project is over. Issues for each one exist that can be referenced.

[2017-01-09 21:55] #58 closed

[2017-01-09 22:04] sushain97 commented on #63
Closing based on the principle of "not-to-much-shuffling"

[2017-01-09 22:04] #63 closed

[2017-01-09 22:15] #62 closed

[2017-01-10 00:36] sushain97 commented on #66
Yes? The destination languages are all possible destination languages and the source languages are all possible source languages. They don't have to be equal.

[2017-01-10 01:26] jonorthwash commented on #66
Hm, that could be what I was thinking.  In which case, oops!

[2017-01-10 01:26] #66 closed

[2017-01-10 02:23] #87 closed

[2017-01-14 23:19] Putti commented on #91
IMHO, this is not particularly relevant information for the end user.

[2017-01-14 23:34] ftyers commented on #91
It's super useful! :D ...  It's useful for determining how reliable the translation is, both in terms of 1) how many steps, 2) which languages it goes through, e.g. spa-cat-ita is more reliable than eus-eng-fin

[2017-01-14 23:39] Putti commented on #91
Well, yeah it is useful if you know those things already, so for more advanced user it is quite useful information and thus +1 for this feature from me, too.

[2017-01-15 20:15] sushain97 commented on #91
I was thinking of the best way to display this... Perhaps this?

![image](https://cloud.githubusercontent.com/assets/4211838/21965813/6de884ae-db35-11e6-8e91-a0db6e9453de.png)

[2017-01-15 20:22] sushain97 commented on #91
Alternative:

![image](https://cloud.githubusercontent.com/assets/4211838/21965865/74104410-db36-11e6-9165-25aeb4d4e0e0.png)

https://gist.github.com/sushain97/e3a6077da7c21399847a21dd94e3daa3

[2017-01-15 20:32] shardulc commented on #91
This was discussed on #apertium intermittently from [19:13:13] on [2017-01-14](http://tinodidriksen.com/pisg/freenode/logs/%23apertium_20170114.log) to [01:18:24] on [2017-01-15](http://tinodidriksen.com/pisg/freenode/logs/%23apertium_20170115.log), and again from [20:14:45] onwards on [2017-01-15](http://tinodidriksen.com/pisg/freenode/logs/%23apertium_20170115.log).

[2017-01-15 21:25] jonorthwash commented on #91
What if we have the ‘?’ icon next to the translate button instead of on it?

[2017-01-17 14:15] unhammer opened #97 "Automatically download translated file for Safari, IE, etc."
Safari users report documents getting back all garbled

![garble](https://cloud.githubusercontent.com/assets/56868/22023743/c1483408-dcc7-11e6-94f1-7cb4ab095fe1.png)

[tull_test.txt](https://github.com/goavki/apertium-html-tools/files/711250/tull_test.txt)

(moved from https://github.com/goavki/apertium-apy/issues/48 )

[2017-01-17 14:23] unhammer commented on #97
We might want to temporarily give Safari users a warning about upgrading to a less [buggy](https://nolanlawson.com/2015/06/30/safari-is-the-new-ie/) browser.

[2017-01-17 23:17] sushain97 commented on #97
I can confirm this on Safari 9.

I suspect it has something to do with https://github.com/goavki/apertium-html-tools/blob/master/assets/js/translator.js#L644 but I can't find any reliable analysis/solutions from cursory Google searching.

[2017-01-18 12:39] unhammer commented on #97
I tried epiphany-browser (which sometimes shares Safari's quirks?), and it also fails.

Problem 1: we check file.type, which is non-standard: https://developer.mozilla.org/en-US/docs/Web/API/IDBMutableFile/type
We already check for mime type on the web server (but we show server-mime-failures as "translation not available"!)

Problem 2: I tried using the html "accept" attrib instead: http://sprung

[2017-01-18 15:54] sushain97 commented on #97
@Problem 1: is it not https://developer.mozilla.org/en-US/docs/Web/API/Blob/type ?

[2017-01-20 21:15] unhammer commented on #97
Oh, right. When I log the `droppedFile` in epiphany, it tells me it actually has a `.type`, it's just set to the empty string … I suppose we should allow empty strings, since that at least means the browser hasn't explicitly given a different mime type.

[2017-01-20 21:27] unhammer commented on #97
29b009748a0c085c5e770aea6bec70cea4c6224f adds "" as an accepted MIME type js-side (server will, and should, do the real check anyway) and adds accept attribute. Epiphany now lets me drop a document and translate it, but when I click the download link, I don't get an .odt, but it sends me to an address `blob:null/a0594597-30c7-480e-a968-846d140085e0` containing what I suppose is the odt contents:
[

[2017-01-20 21:38] unhammer commented on #97
link generated in epiphany: `<a id="fileDownload" href="blob:null/a0594597-30c7-480e-a968-846d140085e0" class="text-center lead" style="" download="Namnlaus 1.odt">`

translator.js code: `$('a#fileDownload')
                                .attr('href', URL.createObjectURL(xhr.response))
                                .attr('download', fileName)`

but http://caniuse.com/#feat=download so Epiphany

[2017-01-20 21:42] sushain97 commented on #97
There seem to not be any clean client side remedies for this problem?

[2017-01-20 21:54] unhammer commented on #97
piwik for all of 2016 said Safari was 13 % of users and translateDoc was 0.49 % of events (vs translate), ie. we're talking 0.06 % of all events … How about we just give Safari users a little warning that they have to right-click to download the file?

[2017-01-20 21:56] sushain97 commented on #97
I like the approach. However, adding text = another string to localize... :(

[2017-01-20 22:00] unhammer commented on #97
At least it's short?

[2017-01-21 16:36] sushain97 commented on #76
Hm, the Chrome version is what's relevant here.

[2017-01-25 10:21] unhammer opened #98 "meta description not localised?"
[code]

etc. for nno, nob, cat – all in English

[2017-01-30 13:24] unhammer commented on #97
@sushain97 could you test if https://github.com/goavki/apertium-html-tools/commit/c66767a000ede0c2cb293b0c1c154bb11a8eb7da gives the warning in safari?

[2017-01-30 13:25] unhammer commented on #97
That is, drop a doc on http://gtweb.uit.no/jorgal/

[2017-01-30 15:53] sushain97 commented on #97
The warning shows up:

![image](https://cloud.githubusercontent.com/assets/4211838/22429858/1a67a638-e6da-11e6-82ab-869dcd8cfefb.png)

However, the menu item isn't "Save As". Perhaps something more generic? "either right-click and save/download the filename"?

[2017-01-31 08:41] unhammer commented on #97
Epiphany says something like "save link as", so maybe `right-click and save the link with the right filename` (right filename because the user should also write in the extension!

[2017-01-31 17:54] sushain97 commented on #97
This sounds good. However, I'd like to keep this issue open since there's probably a workaround somewhere out there?

[2017-02-01 08:14] unhammer commented on #97
definitely

[2017-02-03 13:32] unhammer opened #99 "Website text right-to-left(-ish) if cookies are disabled"
(Migrated from https://sourceforge.net/p/apertium/tickets/73/, originally reported by David Nemeskey)

I visited the Apertium website with my usual cookie blocker, and found the text is displayed incorrectly. For instance, on the About page, the `<li>` tags display the number on the right side, and are aligned right instead of left; the About button itself is also on the right side. The lower left

[2017-02-03 13:41] unhammer commented on #83
Running in http://gtweb.uit.no/jorgal/ using branch giellatekno of this repo, but several bugs need fixing for this to be considered stable, e.g.

* https://sourceforge.net/p/apertium/tickets/114/ the apertium pipeline needs an overhaul to correctly handle formatting
* https://github.com/goavki/apertium-apy/issues/53 keep pipelines open when translating html pages
* https://github.com/goavki/apert

[2017-02-03 14:40] sushain97 opened #100 "Make travis mirror the hound tests"
So that when code doesn't go through a PR, it still gets yelled at :)

[2017-02-03 16:45] #100 closed

[2017-02-03 18:09] sushain97 opened #101 "Bring back no-undefs in ESLint"
This requires commenting within each file the globals it uses.

In theory, we should namespace this stuff better, e.g. `Translator.updateLangList()` instead of just `updateLangList()`...

The rule is really useful so it would be nice to have back.

[2017-02-03 18:11] sushain97 opened #102 "Eliminate the warnings from ESLint"
Flow comments are formatted in such a way that they trigger ESLint's comment spacing rule. I'd like to not disable the rule since it's nice but I'd also like to figure out a way to allow Flow's type annotations.

[2017-02-03 20:00] #102 closed

[2017-02-03 22:35] unhammer commented on #101
Yeah, there's a bit of spaghetti some places :-) (re: #80 )

[2017-02-11 19:39] unhammer opened #103 "Create hreflang links during build"
We should have [hreflang](https://support.google.com/webmasters/answer/189077?hl=en) links made during build. Ie. turn each locale of locales.json into href="index.$locale.html", but look up 2-letter code (fallback to 3) for the hreflang because BCP-47

[2017-03-12 01:11] sushain97 commented on #101
Merge into #80

[2017-03-12 01:11] #101 closed

[2017-03-12 01:16] sushain97 commented on #50
Was this ever tested on multiple browsers as @TinoDidriksen mentioned?

[2017-03-12 01:17] #20 closed

[2017-03-12 01:18] sushain97 commented on #15
Merge into #80.

[2017-03-12 01:18] #15 closed

[2017-03-12 01:23] sushain97 opened #105 "Dictionary lookup"
Assorted thoughts:

- A nice front end needs to be developed for this, with nice probability bars if there is probability data available from the back end
- A back end also needs to be developed
     - this back end needs to be able to make use of some format of data (probably a database table), which could include word pairs, and optionally also probabilities.
- Should give synonyms and alternati

[2017-03-12 01:26] sushain97 opened #106 "Improved language detection"
Work has been made in #73 and https://github.com/goavki/apertium-apy/pull/31

[2017-03-12 01:30] sushain97 commented on #106
Thought from someone:
Make language detection work properly and do "did you mean" style if people choose an unlikely source language.

[2017-03-12 01:34] sushain97 opened #107 "Translation confidence estimation"
From someone:

- Add a mode that colours the resulting translation depending on how reliable it is.
- One possibility would be for language pairs to have different colours depending on WER or something.

[2017-03-12 03:37] jonorthwash commented on #20
Was this supposed to say 2017?
http://wiki.apertium.org/w/index.php?title=Apertium-html-tools&diff=61161&oldid=55864

[2017-03-12 04:10] raj550 commented on #59
I would like to take up the bug and fix it.

[2017-03-12 07:23] share-with-me commented on #59
Is this issue still open? I cloned the repo locally and checked that the encoding works correctly (screenshots below). However, when I checked the website, it doesn't work. (Some merges not merged perhaps? But then , the cloned repo wouldn't have worked either). I checked the js files and found that the encodeURIComponent() function works correctly. (ss below)
![encodejs](https://cloud.githubuserc

[2017-03-12 07:36] raj550 commented on #59
@share-with-me You are right. It encoding works correctly in the local clone of repo. The issue may be with merging, thereby causing problems with the website.

[2017-03-12 07:44] sushain97 commented on #59
It appears that both of you are correct! This bug has been remedied at some point but the issue remained open, unfortunately. My apologies for this.

On the other hand, great work getting everything set up and running on your machines! Feel free to try your hand at one of the other issues!

[2017-03-12 07:44] #59 closed

[2017-03-12 07:51] share-with-me commented on #59
@sushain97 Awesome! We will get on with other issues then!

[2017-03-12 07:55] sushain97 commented on #59
@share-with-me Sounds good! Feel free to also find your own defects/improvements based on comparing with other similar tools, e.g. Google Translate and/or exploring.

[2017-03-12 07:59] sushain97 commented on #103
Looks like we do this already!

[code]

[2017-03-12 07:59] #103 closed

[2017-03-12 08:02] sushain97 commented on #98
Hm, the problem is that nno, nob and cat are missing "description". e.g. in `nno.json`:

[code]

`arg.json` is not and therefore it works fine:

[code]

[2017-03-12 08:02] #98 closed

[2017-03-12 08:06] share-with-me commented on #103
@sushain97 I noticed the same! Looks like one more issue solved :P!

[2017-03-12 08:06] share-with-me commented on #59
@sushain97 on it!

[2017-03-12 08:14] sushain97 commented on #103
@share-with-me :) I've been really interested in seeing some of the website translation stuff (https://github.com/goavki/apertium-html-tools/pull/69) get polished up if you're interested. It's close to being ready for apertium.org.

I've added

to the coding challenge list.

[2017-03-12 08:34] share-with-me commented on #9
For this issue, I measure the load-time for a particular webpage and if it exceeds a threshold, I take the user to a new webpage stating that 'We are busy....'. (screenshot below). I have kept this functionality for each web page so that the user does not have to wait for several timeouts. If load time for any page say increases (5-10 seconds), we display this message. Is my approach correct? Or I

[2017-03-12 08:45] share-with-me commented on #103
@sushain97 Yes, I would definitely be interested in doing any tasks that are up with this project. :D

[2017-03-12 08:51] share-with-me commented on #98
@sushain97 A lot of localised webpages still do not have their meta description localised. I checked 'index.fra.html' and others too. How should we update / find the relevant information for 'missing' key for these 'locale.json' files? Can't we use apertium translate and update the info? (Like in 'arg.json')? If yes, I would like to finish up this task!

[2017-03-12 10:48] share-with-me commented on #79
@unhammer , @sushain97 , I have changed the GET method to POST method in translateText() function and it now processess  the bigger amount of data and does not give '414 error'. (SS below) However, I had a few questions:
1. $.jsonp does not work with any method except 'GET'. This is the link to support this argument. [Stackoverflow](http://stackoverflow.com/questions/4508198/how-to-use-type-post-i

[2017-03-12 11:14] share-with-me commented on #79
Should we keep an upper limit on the length of input text box and put a feature like overflow-y: scroll? Currently, the size of text box shows no limit and dynamically updates its size with data?

[2017-03-12 11:28] share-with-me commented on #17
Google Noto seem the current go-to fonts. Although I have never used these, preliminary browsing gave a few more suggestions and links. Just posting here in case, they are felt needed.
1. [https://www.google.com/get/noto/](https://www.google.com/get/noto/)
2. [http://stackoverflow.com/questions/7185106/what-are-my-web-font-choices-for-arabic](http://stackoverflow.com/questions/7185106/what-are-my-

[2017-03-12 16:57] sushain97 opened #108 "Back to top bottom"
Add a button to the bottom right that appears when it gets longer than X pixels that when pressed will bring the user to the top of the page and disappear.

[2017-03-12 17:02] sushain97 commented on #9
@share-with-me this is a great start! I would tackle this issue by checking for a couple of criteria, 1) if any request takes more than X seconds, display the message. 2) If C requests in the last D minutes take more than Y seconds (Y < X), display the message. The message should be unintrusive which means that users should still be able to use the interface. Something similar to how http://bootst

[2017-03-12 17:03] sushain97 commented on #79
@share-with-me There's no need for a `y-overflow: scroll`. However, I just added #108 which may mitigate the problem you mention.

[2017-03-12 17:06] sushain97 commented on #79
@share-with-me There's no security threat. However, the limitation you discuss is valid. Great research.

I would suggest that you use POST (btw `$.post` exists) when a 414 would happen (this requires some research) and JSONP otherwise. POST won't work due to cross-domain restrictions for some installations so we don't want to use it by default, only when necessary.

[2017-03-12 17:10] sushain97 opened #109 "Automatic translation of localisation strings"
It would be cool if we could specify a pair within the metadata JSON for a `*.json` strings file and use `localization-tools.py` to automatically fill in missing localizations. We would have to mark them within the text, perhaps `%%MACHINE_TRANSLATED_arg-spa%%` or something and then strip that out in the website. It would also be nice if the script reported what progress it made and even more amaz

[2017-03-12 17:10] sushain97 commented on #98
@share-with-me This is correct, there are many that don't!

Unfortunately, the best way to fix them is by waiting for someone who knows the language to contribute. Feel free to contribute to any of the `*.json` that you speak! :)

It would be cool to leverage Apertium to translate these. I'm opening a new issue (#109) on it since it would be a larger effort (perhaps a bit too big for a coding chal

[2017-03-12 17:15] sushain97 commented on #105
It looks like the backend has already been developed within APy: https://github.com/Kira-D/apertium-html-tools/tree/dictionaryLookup.

[2017-03-12 17:15] share-with-me commented on #98
@sushain97  Sure! I speak Hindi and I will try to add this new language to the apertium collection! :D

[2017-03-12 17:17] share-with-me commented on #79
@sushain97 Sure! I will try this with $.post() too! Thank you for all the information :D . As for task #108, I will get on it. What is bugging me since evening is the right-to-left-ish behaviour of data when cookies are disabled :P

[2017-03-12 17:21] share-with-me opened #110 "Unable to run Apertium locally on Safari-10.0.3"
I am using Safari version 10.0.3 and when I tried to run apertium locally on this browser, it does not get rendered. I have enabled both javascript and the cookies. Following are the screenshots. Where am I going wrong? It works perfectly on both chrome as well as firefox.
![screen shot 2017-03-12 at 10 40 32 pm](https://cloud.githubusercontent.com/assets/8894636/23834077/28e799cc-0776-11e7-960d-d

[2017-03-12 18:02] share-with-me commented on #108
@sushain, I have added this functionality. Find the demo in the video in this link.
[Demo Video For go-to top button](https://drive.google.com/open?id=0BwrSYlOsMCyWNEN5dmpGUXNjREk)

[2017-03-12 18:10] sushain97 commented on #108
@share-with-me Great work and demo! Switch the text to an icon (we use FontAwesome iirc) and try something out with opacities similar to https://codyhouse.co/gem/back-to-top/. It also can be hidden on mobile since we don't have dynamically extending input boxes.

Finally, send a PR! :) I'd like to see the code.

[2017-03-12 18:51] share-with-me commented on #108
@sushain97 , I have changed the text to fa-icon. Also, used the same color as the 'a' links on the page. Tried stuff with opacity too. If this satisfies, I will go ahead and make a PR :D (Well after ensuring top-icon is hidden on mobile devices :P )
[Demo - up](https://drive.google.com/open?id=0BwrSYlOsMCyWMnBnUXJtX25tTXc)

[2017-03-12 18:57] share-with-me commented on #108
@sushain97 , umm, I think we do have dynamically extending input boxes right? When I pasted large amount of data in input box, its length extended dynamically. So I do not understand why we do not need the go-top button on mobile devices?

[2017-03-12 19:16] unhammer commented on #79
In particular, JSONP is required when the server isn't sending the [CORS](https://enable-cors.org/) header – but shouldn't APY always be sending that? (Apy doesn't yet have any features which handle sensitive data that I can think of.)

[2017-03-12 19:27] share-with-me commented on #79
As per the CORS website, if we setup the CORS on the server with specifying which methods to allow, we achieve the functionality of JSONP. Is my understanding correct in this direction? APY would need this as requests could be cross domain!

[2017-03-12 19:30] share-with-me commented on #79
I just tried the JSONP method with $.post() instead of $.ajax(), and I get the error of 501 - Unsupported Method. On googling, it says I need to allow access options on python server. Does this have something to do what CORS is trying to enable? Why can't we just use $.ajax() with a type: 'POST' (which works fine) instead of $.post() which raises the above issue?

[2017-03-12 19:31] unhammer commented on #79
https://github.com/goavki/apertium-apy/blob/master/servlet.py#L242 are the lines that set the CORS headers in apy (so if regular /translate calls etc. don't work cross-origin with APY, then that's a bug in apy).

[2017-03-12 19:32] unhammer commented on #79
But APY might not have POST methods, just GET methods ;-) that would be a different issue from cors-support

[2017-03-12 19:34] share-with-me commented on #79
APY could use POST method when the data is too big right? In which case, CORS will come handy!

[2017-03-12 19:39] share-with-me commented on #79
If handler has taken care of 'GET, PUT, POST' options in the servlet.py, why do I get the error of unsupported method - 501 on using $.post(). Is this a bug? Or am I going wrong about this?

[2017-03-12 19:44] sushain97 commented on #108
@share-with-me The dynamic text boxes are disabled on mobile devices.

I like the demo! Send a PR so I can try it out myself. I would suggest not hardcoding any colors but rather using one of the specific button classes that bootstrap provides if you don't want the default, .e.g. `btn-info`.

[2017-03-12 19:44] share-with-me commented on #9
@sushain97 Thanks for the feedback. I will have a look at the link and meanwhile also think of tackling the second senario (first being implemented already :P). I will put the screenshots as well. :D

[2017-03-12 19:58] unhammer commented on #79
APY is the server https://github.com/goavki/apertium-apy/
On looking over the code, it seems we do `def post(self): self.get()` in BaseHandler, so every get request should also be possible through post.

I had to re-read the comments to understand the issue – jsonp not working with POST is [to](http://www.markhneedham.com/blog/2009/08/27/jquery-post-jsonp-and-cross-domain-requests/) [be](http://st

[2017-03-13 02:35] share-with-me commented on #108
@sushain97 Awesome! I will get on it and disable the functionality on mobile devices.! (sorry for delay-had slept off :P)

[2017-03-13 02:54] share-with-me commented on #108
Should I hide in tablet size devices too? (or only mobile devices)

[2017-03-13 02:56] sushain97 commented on #108
@share-with-me whichever sizes that the expanding is disabled. Check the code to find out. Should be straightforward.

[2017-03-13 05:28] share-with-me commented on #108
@sushain97 , Done with the functionality. Here is the demo link.[https://drive.google.com/open?id=0BwrSYlOsMCyWVzFPbFNqOG5ZVTA](https://drive.google.com/open?id=0BwrSYlOsMCyWVzFPbFNqOG5ZVTA)
Create a PR.

[2017-03-13 09:12] share-with-me commented on #79
@unhammer Ohh! now I get what APY is. Awesome! However, We face two scenarios. If we use a method like $.ajax() with 'POST' to transfer the text to the server, we overcome the issue 414 but we lose the flexibility of cross domain data transfer. If we stick toy $.jsonp(), we achieve the cross browser domain functionality but we will encounter 414 for large amounts of data. So what should we do? Sti

[2017-03-13 09:21] share-with-me commented on #79
Also, if the APY server handler has been defined to use 'GET, PUT, POST' functions, why do I get the error 501- Unsupported method when I use $.post() method?
![screen shot 2017-03-13 at 2 50 39 pm](https://cloud.githubusercontent.com/assets/8894636/23848294/89a9928e-07fc-11e7-9a7c-03113996a90d.png)

[2017-03-13 09:52] unhammer commented on #79
No, because APY sends the CORS header, POST should work cross-domain too.

 POST can't work with jsonp (jsonp is a hack around the lack of CORS – https://en.wikipedia.org/wiki/JSONP is interesting reading).

What we should ideally do is just use GET for small requests, POST for large ones. We can use jsonp for the GET requests (would let the old/buggy browsers at least make short requests, though

[2017-03-13 10:16] share-with-me commented on #79
The article is very informative. @unhammer , so should I go ahead and make a PR by using $.ajax() with 'POST' as it can handle large texts and cross domains too?

[2017-03-13 10:35] unhammer commented on #79
yes

[2017-03-13 11:29] share-with-me commented on #79
@unhammer  Created a PR but currently only focusing on translate mode. I will update them across other modes too if and when needed and after getting accustomed to understanding what other modes do.

[2017-03-13 13:33] share-with-me commented on #9
@sushain97 , I have tried some functionality which shows an error when the site is slow. I have only considered scenario 1 where the issue is displayed in case page takes time to load. Working on scenario 2. Find the [demo link](https://drive.google.com/open?id=0BwrSYlOsMCyWS3NJZjJad3djcDQ)

[2017-03-13 13:41] share-with-me commented on #9
@sushain97 for scenario 2 which includes C requests in last D minutes taking Y seconds, what strikes me as a solution is storing the load times of 3 attempts in session variable (or local storage in case we wish to not limit it to only one session) and then calculate the average wait time. If this time exceeds a threshold ( and even if it is < X) , we display the message. Is my approach correct? O

[2017-03-13 16:35] sushain97 commented on #9
The demo looks good. I have some minor suggestions to make after I try it.

An easier approach is to store the moving average of the last X requests and if it ever goes over Y, display the message. You don't need to do this via local storage or a session, just do it for the current session, i.e. in JS. The status can be lost if the user refreshes.

[2017-03-13 16:40] share-with-me commented on #9
@sushain97  Awesome! I will work on the second scenario now. Also, should I create a PR for this at this stage! You can have a look and at the same time suggest the changes. I will update this PR to handle second scenario too and then we can make it mergeable?

[2017-03-13 16:56] sushain97 commented on #9
Sounds good. Feel free to make a PR at any stage :)

[2017-03-13 17:06] share-with-me commented on #9
@sushain97  Awesome! I will do that! one query, what do you mean by 'THe status can be lost if user refreshes'? When a new request is made, page is refreshed right? OR by new request, do we mean the page load time or the amount of time translation or any other service takes? My current understanding is, for the current session ie until user closes the tab/window, I store all the page load times in

[2017-03-13 17:30] sushain97 opened #114 "Get rid of inline styles"
There are 38 inline styles in `index.html.in`. They should be eliminated to enable to the `inline-style-disabled` HTMLHint rule.

[2017-03-15 16:24] share-with-me commented on #9
@sushain97  I have updated my PR (will refactor as per Hound in a while :P) . The functionality is something like, if it takes more than 2 seconds for a page to load, we can see the message. The message has animations such as it fades in and goes out in 10 sec if the user does not interact. He can explicitly choose to close the notice once he has read it with the close button. Lastly, the animatio

[2017-03-15 16:46] share-with-me commented on #110
It had an issue with the cookie settings. Rebuilding and restarting solved the issue.

[2017-03-15 16:46] #110 closed

[2017-03-15 17:53] share-with-me commented on #50
@sushain97 , what browsers and versions are we targeting? A list of them could be IE, Edge, Firefox, Chrome, Opera. I can test if the scripts run consistently across all of them. Locally, it works for me perfectly on chrome, firefox and safari. Will have to test them across the remaining ones. Just a simple local running on these browsers to check if the scripts are running perfectly would suffice

[2017-03-15 18:15] share-with-me opened #115 "Locale Specific Index Page of Apertium"
In the current model, the build command first generates index.eng.html from localise-me.html and the index page is set to this. However, if I access this in some other region with a different locale, the index page should be of that locale! Perhaps we could add a field in config file which mentions the user locale (defaults to english) and then during build, we generate the appropriate home page f

[2017-03-15 18:33] sushain97 opened #116 "Better testing"
Unit tests on multiple browsers through Travis CI would be ideal.

[2017-03-15 18:33] sushain97 commented on #50
@share-with-me that sounds like a decent list and test. I wonder if there's a way to automatically test these through Travis (added #116).

[2017-03-15 18:43] sushain97 commented on #9
This is fine. Simple and easy.

We don't really care about the page load time. In fact, it's tricky to measure that accurately. What's import is the translation time or any other APy request taking too long.

Both times should be global variables (see the variable section at the top). The behavior sounds perfect! Since we want this behavior to be global across different modes, the variables and no

[2017-03-15 19:07] share-with-me commented on #50
@sushain97 Awesome. Meanwhile, I will find some ways of testing this. And first and foremost, get used to Hound and Travis-CI :P

[2017-03-15 19:11] share-with-me commented on #9
@sushain97 . That sounds awesome. I will make scripts in utils.js and keep track of the times taken by service to render. The logic of calculating the average remains the same. Is there a readme or guideline book for writing the code that Hound demands, like with all spaces/indentations, functions , naming conventions and newlines etc? that I can follow! It ll help me in writing a good quality cod

[2017-03-15 19:20] sushain97 commented on #9
@share-with-me here are Hound's settings for this repo: https://github.com/goavki/apertium-html-tools/blob/master/assets/js/.eslintrc.json

[2017-03-15 19:26] share-with-me commented on #9
@sushain97  Thank you so much. I ll hope that my next conforms to these rules. !

[2017-03-15 19:34] share-with-me commented on #114
Created a PR #117 . Please have a look @sushain97

[2017-03-16 02:14] sushain97 commented on #115
I think that the idea here might be to allow making the _default_ locale be customizable. i.e., for a website intended for users in Spain, the landing page would be Spanish even before refresh/dynamic localization based on the browser.

[2017-03-16 04:14] share-with-me commented on #115
@unhammer I was not viewing it in private browsing mode and had cookies enabled. Therefore, I could not see. I set locale to spa and it took me to index.spa.html. Awesome :D . This is exactly what I wished.
However, as @sushain97 said, we could give a feature of making the index page local even before rendering the index.eng.html and waiting fir JS to load.
![screen shot 2017-03-16 at 9 42 22 am](

[2017-03-16 04:56] share-with-me opened #118 "Different Modals open on clicking 'Help us Improve Apertium'"
Currently, on mobile, when we click on 'Help Us Improve Apertium', the `info` modal pops up. However, when we click the same on laptop/desktop, the `about` modal pops up. Is it deliberately done this way? If so, we can include the sourceforgenet mailto address in the `about` modal too perhaps? Also, opening the same modals seems a bit repetitive!
Following are screenshots:
![screen shot 2017-03-16

[2017-03-16 05:26] sushain97 commented on #118
Yes.

It is linked through the "contact us" link.

They're different as you reference.

[2017-03-16 09:32] unhammer commented on #115
@share-with-me could you try ac38feaf174b86c4838aa447a409a7e651b657d2 and see if that works?

[2017-03-16 10:09] share-with-me commented on #118
@sushain97  Ohh Awesome. Yep, they are linked! I will close the issue.

[2017-03-16 10:09] #118 closed

[2017-03-16 12:00] share-with-me commented on #107
@sushain97 How does Apertium translate the content? What rules does it follow for MT? Is there a code snippet at server or some reading material for this? We could perhaps develop something that makes a semantic comparison of original and translated text and depending on accuracy, we could color it!

[2017-03-16 13:45] sushain97 commented on #107
Take a look at http://xixona.dlsi.ua.es/~fran/apertium2-documentation.pdf.

[2017-03-16 15:21] share-with-me commented on #107
Awesome! Will have a look!

[2017-03-17 03:14] share-with-me commented on #116
@sushain97  I made use of `QUnit` unit testing framework for Javascript to make simple unit tests to determine if the browser supports SRI. My test works like this, I try to load a webpage with wrong `integrity` value of the `bootstrap cdn` and then check by using some bootstrap specific function if the bootstrap script has loaded. The `assert` test then is - if the function returns `true` (implyi

[2017-03-17 03:26] sushain97 commented on #116
Nice work @share-with-me! I wonder if it can be integrated with Travis nicely...

On another note, our priority isn't to make sure that features like SRI work since this is already [documented](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity#Browser_compatibility). The focus is to make sure translation, generation, switching locales, etc. works correctly.

[2017-03-17 03:33] share-with-me commented on #116
@sushain97  Awesome! The documentation takes care of SRI stuff. Now that the environment is set, setting any kind of tests for the features should not be that difficult! So when you say translation, generation, etc, we are looking at the technical  part of it right? As in whether the the `originalText` on clicking translate yielded an output in `translatedText` and not getting concerned with the s

[2017-03-17 03:51] sushain97 commented on #116
@share-with-me exactly. Other related things like making sure you can use the language drop downs, etc. UI testing appears to be quite tricky. I've never messed with it much myself :)

[2017-03-17 04:09] share-with-me commented on #115
Hey @unhammer Extremely sorry for sounding noob :P But how do I retreive a specific commit from a remote branch? (like yours in this case). I have checked this [link](http://stackoverflow.com/questions/14872486/retrieve-specific-commit-from-a-remote-git-repository) on Stackover flow but unable to fetch! I am a bit new to git in terms of majorly contributing to remotes :P
I wish to test the commit

[2017-03-17 04:11] share-with-me commented on #116
@sushain97 Ohh. This is surely a big thing than I anticipated. Need to plan of the UI elements to be tested and design the way they need to be done. I will think over this and discuss the <feature, strategy> points with you!

[2017-03-17 07:11] unhammer commented on #115
oh this one's pushed to goavki master; if you don't have that as a remote already, just
`git remote add goavki https://github.com/goavki/apertium-html-tools/`
then e.g. from your master branch, `git pull goavki master`

[2017-03-17 10:47] share-with-me commented on #115
@unhammer Awesome. That worked perfectly.  Now if I want to migrate these updates in all my local branches without affecting my commits in those branches, is it possible to do that? If so, how?

[2017-03-17 11:19] unhammer commented on #115
If no one else has checked them out, I guess it's just `git fetch goavki` and `git rebase goavki/master` (when you're on that local branch)

[2017-03-20 08:18] jonorthwash opened #120 "mark destinations through multi-step translation somehow"
Currently when multi-step is enabled, only the option says "experimental" and not the translation destination languages.  We should have some way of indicating that these are experimental "pairs".

[2017-03-20 14:46] share-with-me opened #121 "Unable to run make command"
On running make, I get the following error on OS X El Capitan. Preliminary browsing yielded solutions like disabling the secure option of curl command. However, I believe it has something to do with the security certificate on host website. How to solve this error?

Edit: [This link](https://github.com/ContainerSolutions/minimesos/issues/440) made me feel it has to do something on host side.

![sc

[2017-03-20 14:48] unhammer commented on #121
apertium.org's cert expired; some issue with the cron job :( I've notificed @ftyers

[2017-03-20 14:54] share-with-me commented on #121
Ohh! I was worried for a sec that I screwed up by git commands and thereby some `make` issues :P. I will meanwhile keep on making local changes (to test) until we generate a new certificate :D

[2017-03-20 14:54] share-with-me commented on #115
@unhammer Thank you so much! This worked like charm! I have updated my local branches with the master branch (preserving my commits too). Thanks!

[2017-03-20 14:57] sushain97 commented on #121
Closing this issue since it's completely external to this repo.

@share-with-me you can circumvent this issue by using `http://turkic.apertium.org:8080` or running APy locally (http://wiki.apertium.org/wiki/Apertium-apy).

[2017-03-20 14:57] #121 closed

[2017-03-20 15:55] #115 closed

[2017-03-22 11:05] share-with-me opened #122 "Type Error occurs when nothing selected"
Currently, in Analyser or Generator mode, if we do not select anything from dropdown and click on `Analyse`, a type error of being `undefined` occurs on the console. Should this be eliminated by keeping a check on whether the dropdown item is selected and then letting the analyse function progress else put a console warn?  Or is this unnecessary from application point of view?
I tried to implement

[2017-03-22 13:48] sushain97 commented on #122
Hm, I do want to prevent this error from occurring. However, there's no need for a console message. Send your PR and I'll take a look.

Thanks!

[2017-03-22 14:24] share-with-me commented on #122
@sushain97 I have created a PR for the same. Please have a look. #123

[2017-03-22 18:12] share-with-me opened #124 "400-Bad Request Error on 'Detect Language'"
Currently, when the `#originalText` div is empty and we run the `Detect Language` feature, we get a `400-Bad Request Error`. It says the request is improperly configured and not conforming to the structure expected by API. Is it because the data is empty? I tried by keeping a check that the function works only when data is non-empty. And it gets resolved. Is my approach for the this issue correct?

[2017-03-22 22:36] sushain97 commented on #124
Preventing a request when the text is empty is probably wise. The console message is not necessary though.

Send a PR and I'll take a look. Thanks!

[2017-03-22 22:39] #122 closed

[2017-03-23 03:53] share-with-me commented on #124
@sushain97 I have created a PR for this #125 . Please have a look.
Thanks

[2017-03-23 16:55] share-with-me opened #126 "500-Internal Server Error on TranslateDoc in localhost"
I am trying to use the feature `translateDoc` on my localhost but it gives a `500-Internal Server error` and I am unable to translate a text file. However, the same works perfectly when I access it on the apertium.org website. What might I be doing wrong? Is it something to do with `piwik.php` because I can see it loading via `GET` on apertium site but it does not reach that part on localhost.
The

[2017-03-23 20:03] share-with-me opened #127 "Alignment of languages in dropdown"
In the current version, all the languages (whether `ltr` or `rtl` appear all on one end - either left or right depending on the `html dir` of the page. Would it make more sense if all the `ltr` lanaguages appear on left end of dropdown (irrespective of language) and similar for `rtl` languages? The following screenshots describe the issue in more detail:

**Current Version**
![screen shot 2017-03-

[2017-03-23 23:10] sushain97 commented on #127
Yes, this makes sense and has been brought up before. It isn't possible with the standard `<select>` element.

[2017-03-24 03:22] share-with-me commented on #127
Umm, I tried to target the js code where these options for dropdown get generated and applied the CSS there based on whether the langauge is `rtl` or `ltr`. Should I make a gist? I do not completely get what you meant by that?

Thank you so much :D

[2017-03-24 04:01] sushain97 commented on #127
The behavior that you describe in the second screenshot is not possible using the HTML `<select>` element as far as I am aware. Did it work for you?

[2017-03-24 04:02] sushain97 commented on #127
Does your solution work on Chrome and Firefox?

[2017-03-24 04:20] share-with-me commented on #127
On firefox, it is working. Did not check on chrome! Would update you once I check it!
Off-topic: I have sent you an email regarding the ideas. Please have a look! Thanks :D . I will edit this comment.

[2017-03-24 06:33] share-with-me commented on #127
@sushain97 I tried on Firefox and Chrome. It does appear styled on Firefox but fails to appear that way in Chrome. On googling, the results show that it is not possible to style the `select option` elements in the browsers that are `webkit-based` such as Chrome and Safari. This is a [stackoverflow link](http://stackoverflow.com/questions/12301729/styling-option-value-in-select-drop-down-html-not-w

[2017-03-24 07:59] unhammer commented on #126
what does apy say?

[2017-03-24 08:31] share-with-me commented on #127
@sushain97 I have tried to work around the above issue by making use of a `bootstrap dropdown` instead of `select option`. The advantage of this will be freedom to style the dropdown `li` elements any way we want; which is what I have tried to accomplish. Works well on both Firefox and Chrome. Here is the [link for the demo](https://drive.google.com/open?id=0BwrSYlOsMCyWM1lILUUtUW0tY28) .
Please h

[2017-03-24 09:16] share-with-me commented on #126
Do we need to setup apy locally for this feature on localhost? I have set `https://www.apertium.org/apy` as my server in `config` file and I believe all of the requests are going out this server only.  Currently, the console says the following :

204 Error - No content
500 Error - Internal Server Error

![screen shot 2017-03-24 at 2 41 31 pm](https://cloud.githubusercontent.com/assets/8894636/2428

[2017-03-24 10:19] share-with-me commented on #107
Are we visualising this something like the following? How we process is we scan through the tuples returned from the `translate()` function from the server and depending upon the confidence factor, we color it.  This feature is available if the user clicks on `Colored Mode` in the navbar and makes it enabled first. This is for visualisation idea only. However, does our current model return transla

[2017-03-24 14:52] sushain97 commented on #107
@jonorthwash will have ideas here. I'm not certain what the resolution we can have this data at is.

No. This requires work on the APy side.

[2017-03-24 14:54] sushain97 commented on #127
This problem is what I was alluding to earlier.

This is a good start. The styling needs work but otherwise this might work. On mobile, we must revert to a normal `select` element.

@jonorthwash may have suggestions here as well.

[2017-03-24 14:56] sushain97 commented on #126
There could easily be a problem with the server. Use a local installation of APy. Debugging this is difficult otherwise. It's a POST so it could have something to do with CORS.

This isn't relevant.

[2017-03-24 15:49] share-with-me commented on #107
@sushain97 Ohh! I would start working on APy side as well! We could discuss ideas with @jonorthwash  about progressing on this issue!
Thanks!

[2017-03-24 15:53] share-with-me commented on #127
Exactly. It worked on Firefox and I assumed it would work well on Chrome and Safari too. But googling made me wiser :P .

Thank you :D. Yepp, the styling does need work but I was trying to make a dropdown of `li` so that we can have full freedom about how to style it. Yes, we could revert to `select` only in case of mobiles. I would love to work on this after discussing ideas with you and @jonorth

[2017-03-24 15:54] share-with-me commented on #126
Yep, only issue being I was facing difficulties in setting up APy locally. Would try it again.
Thanks :D

[2017-03-25 04:03] jonorthwash commented on #107
Yeah, we don't have anything implemented for estimating translation accuracy, so you'll need to set up a plan for figuring that out too.

[2017-03-25 04:06] jonorthwash commented on #127
Duplicate of #19.

[2017-03-25 04:09] share-with-me commented on #127
@jonorthwash , oh cool! did not see this previously! Umm, does this workaround try to achieve what we are trying (like alignment of `rtl` and `ltr`) languages in the dropdown? As @sushain97 said, we could implement this on laptops and bigger screens and revert to our good old `select` while on mobile and tablets. Also, should I close this issue here? and resume on #19 ?
Thanks!

[2017-03-25 04:12] jonorthwash commented on #127
Not sure.  @sushain97 ?

[2017-03-25 04:14] share-with-me commented on #107
@jonorthwash Ohh cool! I will start with the backend today then!

[2017-03-25 12:05] share-with-me commented on #124
@sushain97  The PR has been merged. Should I close the issue?

[2017-03-25 19:49] share-with-me commented on #61
+1.
Following are my views on Firefox on decreasing the browser window width.

**dstLangSelectorDropdown**
![screen shot 2017-03-25 at 11 04 16 pm](https://cloud.githubusercontent.com/assets/8894636/24324887/8d47f554-11b4-11e7-85b9-eb3ff3456b74.png)

**srcLangSelectorDropdown**
![screen shot 2017-03-25 at 11 39 49 pm](https://cloud.githubusercontent.com/assets/8894636/24324891/a23c56a8-11b4-11e7-9

[2017-03-25 19:51] share-with-me commented on #61
@jonorthwash @sushain97 I have tried to have solve this by dynamically adjusting the position of dropdown in language selectors based on `window width`. If the width decreases a particular value, these dropdowns shift their positions to fit in the window. I have created a [demo](https://drive.google.com/open?id=0BwrSYlOsMCyWc0l1dkpRVjAxMTg). Please have a look!
Thanks!

[2017-03-26 00:31] #124 closed

[2017-03-26 16:52] share-with-me commented on #65
Yep! I could reproduce this problem on chrome. Narrowing the browser either lets a `language` button overlap the `reverse` button or vice-versa. Following are the screenshots. I plan to solve this issue.

![screen shot 2017-03-26 at 10 10 35 pm](https://cloud.githubusercontent.com/assets/8894636/24333257/61192688-1272-11e7-8f21-8e78e7073b05.png)

![screen shot 2017-03-26 at 10 13 51 pm](https://cl

[2017-03-26 17:46] jonorthwash commented on #61
That looks great!

Does it adjust the position the selection box will appear if it's not selected when the window is resized?  Does it work based on the static size of the window, or is it only triggered when the window is resized? E.g., the following use case: user opens browser at small size and clicks dropdown, or user makes window smaller and clicks dropdown.

[2017-03-26 18:15] share-with-me commented on #61
@jonorthwash

Thank you so much :D
It works in both cases ie even if the user opens it up statically in a narrower width browser window, the dropdown adjusts accordingly. And if he triggers resize, then also depending upon the innerWidth, the dropdown css is applied. I have created a video demonstrating the same.  [Here](https://drive.google.com/open?id=0BwrSYlOsMCyWUWFMNTlRSGk1cW8) is the link!

[2017-03-27 02:55] jonorthwash commented on #61
Looks good to me.

[2017-03-27 03:46] sushain97 commented on #127
I believe these are separate issues. #19 addressed having the languages all be either right-aligned or left-aligned. This issue seeks to make them both right-aligned and left-aligned, whichever the preference of the language is. In a sense, this would make it so the current interface language does not effect the alignment of the language options. @jonorthwash what would you see as the right behavi

[2017-03-27 03:48] sushain97 commented on #61
@jonorthwash @share-with-me likes to demo with videos before sending the PRs. The videos are really great however having the PR at the same time is nice as well :)

[2017-03-27 16:37] share-with-me commented on #61
Totally agreed :D. I just create a demo video to be sure that my code is indeed proceeding in the correct direction for the issue.

:D

Yes, I am indeed very eager to create new PRs but first I am focusing on the proposal. As soon as I am done with it, I am back on my PR making streak :D.  I will put the draft proposal for you and @jonorthwash  for review. Will await your valuable feedback.

Thank

[2017-03-27 17:46] jonorthwash commented on #127
You mean the language whose name is listed, not the language  the page is localised in, right?

I would want the language names to be aligned per the script of the language name.  So e.g., Uyghur and Hebrew (as we have them localised currently) would be right-aligned, but Mandarin and Kazakh (as we have them localised currently) would be left-aligned.

[2017-03-28 05:06] sushain97 commented on #127
@jonorthwash

Precisely.

OK. This is contrary to the current behavior (see apertium.org) and indeed what @share-with-me has presented. Correct?

[2017-03-28 05:47] share-with-me commented on #127
@jonorthwash  As @sushain97 said, this fix tries to make the languages in the dropdown option next to the globe. My issue was to make the languages within that display dropdown as left-aligned or right-aligned depending only on the rtl or ltr behaviour of that language and not making it dependent on the page that is localised in.

[2017-04-02 19:08] share-with-me commented on #99
@unhammer @sushain97 I have attempted a patch to solve this in my [PR](https://github.com/goavki/apertium-html-tools/pull/129).

[2017-04-12 11:39] unhammer opened #130 "faster, slimmer, lighter"
Firefox says we download 519KB on an empty cache:

* 7 js files totalling 279,99KB
* 4 css files totalling 179,29KB
* 1 html file totalling 40,47KB
* 4 images totalling 18,72KB

It's not too bad (half the size of google.com!), but still about as large [as one of the lesser Russian classics](http://idlewords.com/talks/website_obesity.htm). And we are after all just serving text.

Possible ideas:
*

[2017-04-12 19:51] unhammer opened #131 "langdetect: target language button changes but not url-bar, gives "translation not available""
[code]

I can reproduce. Go to e.g.
https://www.apertium.org/index.eng.html?dir=eng-spa#translation
then paste in

*орналасқан Шығыс Азиядағы мемлекет. Астанасы — Сеул. БАҚ өкілдерімен жиі қолданылатын, мемлекеттің бейресми атауы — Оңтүстік Корея.*

and click the "detect language" button. It switches to Kazakh on source and Tatar shows as the only choice on target, but the url field says "kaz-spa"

[2017-04-16 15:57] share-with-me commented on #130
IMO, we could start with these 2 ideas. We can make use of JS code coverage tool for instance,

[2017-04-16 16:01] share-with-me commented on #130
We can definitely start with these. A JS code coverage tool such as [JSCover](http://tntim96.github.io/JSCover/) is a tool that displays a summary of the code coverage and an example for the same is [here](http://tntim96.github.io/JSCover/example-report-yui3/jscoverage.html?test/index.html).

[2017-05-16 11:57] unhammer commented on #97
This might also affect Internet Explorer, according to a user on apertium-contact. It would be nice if someone could verify, but perhaps we should show the warning for IE too since we haven't actually verified that it *does* work on IE :-)

[2017-05-19 18:27] share-with-me opened #132 "Enable y-scroll on textarea resize"
The `originalText` textarea populates itself with text input by user and dynamically resizes to the height of the content. However, if we resize the `originalText`  textarea (vertically) by manually dragging the bottom corner, and decrease its height as compared to the text content height, it does not give a `y-scroll`. Thus, a user would not be able to view the entire contents of the textarea. I

[2017-05-19 18:35] share-with-me commented on #132
Here is an attempt to achieve above functionality. Please note the `y-scroll` on `originalText` when its height changes with respect to its contents.
[Demo](https://drive.google.com/open?id=0BwrSYlOsMCyWLWZXS0pFcVh6bTg)
Would refactor to create a patch soon.

[2017-05-20 06:52] share-with-me opened #133 "Webpage scrollbar to the left for 'rtl' languages webpages"
The webpage scrollbar for the `rtl` based languages appears on the right. To maintain the semantic consistency of flipping, it should appear at the left.

[Here](https://drive.google.com/open?id=0BwrSYlOsMCyWX1ZsV2VYcmhhdDA) is the demo explaining the issue and also an attempt to achieve the functionality.

[2017-05-20 06:54] share-with-me commented on #133
Refactored patch I would create. Works well on Firefox and Chrome. Does not reflect in Safari.

[2017-05-20 15:40] sushain97 commented on #133
Duplicate of #127. Let's continue the discussion there.

[2017-05-20 15:42] sushain97 commented on #133
@jonorthwash is this how you would expect it to work?

[2017-05-20 15:42] sushain97 commented on #133
@share-with-me is this only the global scrollbar or all scrollbars?

[2017-05-20 15:52] share-with-me commented on #133
@sushain97 Only for the global scrollbars! The `textarea` divs already have this behaviour of scrollbar being on the left in case of `rtl` based languages!

[2017-05-20 15:54] sushain97 commented on #133
Why doesn't it already work correctly for the whole page? I think `dir="rtl"`/`dir="ltr"' is being set on the `html/body`?

[2017-05-20 16:15] share-with-me commented on #133
It seems not all browsers and / or OS support the global scrollbar appearing on the left side by default and even when we override them with `dir="rtl"`. Here is a [stackoverflow link](http://stackoverflow.com/questions/16298320/how-to-change-scrollbar-direction-from-right-to-left) discussing this. A lot of other web resources stated similar. Thus, my approach was to wrap the `body` element inside

[2017-05-21 04:07] sushain97 commented on #133
Ah, thanks for the links.

@jonorthwash can you take a look at them? I'm not convinced that we should divert from the browser default since users will likely be familiar with how their own browser behaves by default.

[2017-05-21 04:21] share-with-me commented on #133
@sushain97 @jonorthwash Here's a [stackoverflow link](http://stackoverflow.com/questions/1261869/setting-the-correct-orientation-for-scrollbars-in-right-to-left-pages) where users have suggested that it is indeed better to leave the browser settings to the users. Some comments also state that even in rtl based webpages, people (the users) find it annoying to have the scrollbar on the left :P.

If

[2017-05-21 19:53] share-with-me commented on #79
Will add the functionality to all the AJAX calls accompanied with `GET` method, as each of them would fail in case of query size being greater than 2048.

[2017-05-25 18:35] jonorthwash commented on #133
Hmm yeah I think it's better to use the browser default.  If some browsers can put the scrollbar on the other side, then we should specify that they do so, but otherwise we shouldn't force a behaviour on people who are used to their browser doing something else.  That is, we should leave it up to the browser—maybe it's a config option in some.

[2017-05-25 18:41] #133 closed

[2017-05-25 18:42] share-with-me commented on #133
Very much convinced @jonorthwash . If people are used to having a specific setting by default in their browser, we shouldn't force it.

[2017-06-04 00:11] sushain97 commented on #130
There are existing tools out there that are excellent at tree shaking. However, it would complicate the build process and require extra dependencies: https://webpack.js.org/guides/tree-shaking/.

Personally, I would be all for switching to a more context appropriate build process :) We could always create a branch/releases that have a compiled ready-to-execute version of the site.

[2017-06-04 06:04] #108 closed

[2017-06-04 19:06] unhammer commented on #130
Hm, when I said "cut out" I wasn't thinking of doing this at compile time, but rather actually cutting out the code that we don't use from the *source* – dead code belongs in branches :)

[2017-06-04 19:22] sushain97 commented on #130
I agree that dead code belongs in branches. However, I haven't checked
carefully but I would venture that very little of our JS is dead. ESLint
errors on lots of potential causes and I'm usually relatively careful with
it. I think the majority of what we serve is e.g. jQuery, that we couldn't
really cut down manually.

Manually trimming Bootstrap would make it really tricky to upgrade
versions. I

[2017-06-04 19:50] jonorthwash commented on #105
@Kira-D (and @ftyers): how did the backend for dictionary lookup work?  I think I remember that the data had to be preprocessed (dumping a .dix file into a sqlite db?).  Is there any documentation for this, or anything you remember that might help?

[2017-06-04 20:28] Kira-D commented on #105
@jonorthwash I prepared this docs, but unfortunately there is no information about preprocessing (I used the old format for the task) http://wiki.apertium.org/wiki/GSOC%2716_Kira%27s_results._Apertium_website_improvements:_Docs_diff

[2017-06-04 20:52] jonorthwash commented on #105
@Kira-D, this is helpful, thanks!  Could you clarify what you mean by "the old format"?

[2017-06-04 21:33] Kira-D commented on #105
@jonorthwash, I'm sorry, I mistakenly thought that it is not a new feature.
But it is a new feature.
I also found a separate brunch for the feature https://github.com/Kira-D/apertium-apy/commits/dictionaryLookup
You can see diffs here. Hope it'll be helpful.

[2017-06-04 21:46] unhammer commented on #130
Ah, didn't think of that dependency; yeah, that makes what I was thinking of more difficult.

[2017-06-07 08:13] #99 closed

[2017-06-10 15:04] sushain97 opened #136 "Switching APY breaks recent language selectors"
The recent languages should be filtered by available languages so that when APy is switched and supports a different set of the languages, the one restored from LocalStorage doesn't cause strange UI bugs.

[2017-06-10 15:07] sushain97 opened #137 "Switch to a store library"
Something like https://github.com/marcuswestin/store.js would render our `store.js` unnecessary and be a well-supported, more compatible solution.

Thoughts, @unhammer ?

It's 17.1 KB for the version with plugins (we don't need any) and 13 KB without (https://github.com/marcuswestin/store.js/blob/master/dist/store.legacy.min.js).

[2017-06-11 07:05] unhammer commented on #137
Hm, our store.js is 926 *bytes* minified (when I paste it into https://duckduckgo.com/?q=minify+js+online&t=canonical&ia=answer).

The problem we've had so far is detecting whether localStorage is supported by the browser or not – can we just copy that part? I don't feel having localStorage support is important enough for apertium.org's functionality that we should polyfill for old browsers (trans

[2017-06-12 03:05] sushain97 commented on #79
fixed with d40162f4c134c2b168d7f28627606d3ac7c58630

[2017-06-12 03:05] #79 closed

[2017-06-17 14:55] sushain97 commented on #76
Closing since there really isn't enough information to fix this.

[2017-06-17 14:55] #76 closed

[2017-06-17 14:56] sushain97 commented on #50
Closing since they were added and the ticket has now drifted to testing.

[2017-06-17 14:56] #50 closed

[2017-06-17 15:11] sushain97 opened #143 "Add versions"
1. add tags to commits
2. add version on site

[2017-06-17 15:12] sushain97 commented on #126
Closing since it's almost certainly an APY version problem.

[2017-06-17 15:12] #126 closed

[2017-06-17 23:02] sushain97 opened #144 "End-to-end Docker config"
Apertium + Html-tools + APy + Nginx/Apache

[2017-06-18 17:56] sushain97 commented on #144
Fixed by 8a572aa2d163a6b8aac56adbc29da633eb0ae6e6

[2017-06-18 17:56] #144 closed

[2017-06-18 18:00] sushain97 opened #145 "Make Travis also run flake8/scss-lint"

[2017-06-18 18:01] sushain97 opened #146 "Mark unknown is sent with document translation"
but it isn't visible to the user.

- if APy actually uses it, then it should be made visible to the user.
- if APy does not actually use it, it should not be sent.

[2017-06-18 18:08] sushain97 opened #147 "Display APy endpoint being used in Sandbox"

[2017-06-18 18:09] sushain97 opened #148 "APY vs APy stylization discrepancies"
We should use `APy` since it was the original title and has more semantics to it.

[2017-06-18 18:13] sushain97 opened #149 "Containers can all disappear"
if you click on one mode in the navbar and then on the original while it's transitioning:

![image](https://user-images.githubusercontent.com/4211838/27263018-3e2ad37e-5430-11e7-98cd-3e32e02c88d2.png)

[2017-06-18 18:59] #143 closed

[2017-06-18 22:39] #65 closed

[2017-06-19 05:13] sushain97 opened #151 "Resizing window resets translation textarea heights"
I really want it to retain my heights. Resetting them to whatever the app wants is silly and I'm not sure when this bad behavior creeped in.

@share-with-me perhaps this can be fixed with #142?

[2017-06-19 05:16] share-with-me commented on #151
That means, when the window is resized, `synchronizeTextareaHeights` should not be called? That is, the heights of the textareas should stay the same even on resizing?

[2017-06-19 05:20] sushain97 commented on #151
I don't know exactly what `synchronizeTextareaHeights` does. But that sounds like a reasonable conclusion. Can you figure out why it was made to do that? `git blame` might be helpful.

[2017-06-19 05:21] share-with-me commented on #151
On it! Meanwhile could you please review the comments on #142 ?! Thanks!

[2017-06-19 05:27] share-with-me commented on #151
Um, do you mean in the event that I manually resize it using the dragger at the bottom right? Because currently, when I paste in a lot of content, the `textarea` dynamically resizes itself and retains its height even on `window` resize?!

[2017-06-19 05:35] sushain97 commented on #151
Yes.

I'll take a look when I'm free. I think this issue and that one are connected/can be solved together.

[2017-06-19 05:37] share-with-me commented on #151
Thanks :D

[2017-06-19 06:43] unhammer commented on #146
IIRC APy does use it. Anyway, I think it should be visible. The people using jorgal really didn't like the `*`'s everywhere (it only runs a gisting pair, and it's really easy for a Norwegian to tell that *čiekŋaleamos* is untranslated), but OTOH it's probably important to have if you do post-editing.

[2017-06-22 15:33] sushain97 opened #155 "Add spanish "Mark Unknown Words" string"
"Marcar palabras desconocidas" from Tuto

[2017-06-23 00:24] #149 closed

[2017-06-23 10:02] ftyers opened #157 "Fix Sardinian localisation"
Sardinian website localisation was working, now it isn't. I committed the `srd.json` file.

[2017-06-23 10:05] ftyers commented on #155
I think I fixed this...

[2017-06-23 10:05] #155 closed

[2017-06-23 10:05] ftyers commented on #157
Fixed.

[2017-06-23 10:05] #157 closed

[2017-06-25 14:54] sushain97 opened #158 "More dynamically configurable options"
We have lots of constants inside the application but most of them aren't accessible through `config.conf`. We might want to figure out a more dynamic approach to this rather than adding a line to `read-conf.py` for each new constant.

[2017-07-01 18:40] share-with-me opened #161 "TranslateDoc() called on page refresh in analyze/generate modes"
Currently, if we switch to `Morphological Analysis/Generation` tab interface and then refresh, `translateDoc()` gets called which shouldn't.

![screenshot from 2017-07-02 00-09-48](https://user-images.githubusercontent.com/8894636/27764602-cb504b14-5eba-11e7-8efe-15960f0681f9.png)

[2017-07-04 19:34] share-with-me commented on #131
Looking at the code of `detectLanguage()`, it seems that only `curSrcLang` is determined in the `success` callback. A `curDstLang` update should also be made according to the `curSrcLang`; which isn't there (and this may be the cause I believe!) Thus, we have source as "kaz" but no where the code in the same callback updates the `destination language buttons` and so forth to have a "tat". I added

[2017-07-05 01:51] sushain97 commented on #131
From @unhammer's bug report, it appears that

1. The destination language is being switched to `tat`.
2. The URL bar is not updated to `kaz-tat`.
3. A new translate request is not fired to update the target language text.

@share-with-me your description of the situation is not consistent with (1) above. Are we experiencing the same bug?

[2017-07-05 13:58] share-with-me commented on #131
@sushain97 , um, when I do a `console.log` of the languages as I have shown in the below code, I get the output as in the image after that! The output shows that `curDstLang` is not updated to `tat`! I have made sure that `tat` does not appear in my `recentDstLangs` too. That can be seen in the `console` output. Thus, I believe my observation is not exactly same as the one reported in @unhammer 's

[2017-07-05 14:12] share-with-me commented on #131
@sushain97 , @unhammer , one more issue that I see is in the following code snippet: `textTranslateRequest()` is fired up before `detectLanguage()` is completed! Shouldn't it be fired up once we know `detectLanguage()` is completed?! Following image shows it. `kaz` should be the `curSrcLang` when the `translateText()` is required?

[code]

**Output**
![screenshot from 2017-07-05 19-39-45](https://

[2017-07-05 14:31] sushain97 commented on #131
Yes.

No. I don't know where else `detectLanguage` is being called. Instead, give it a `callback` parameter and call callback at the end of its ajax request if it is truthy.

[2017-07-09 13:58] #161 closed

[2017-07-12 18:52] share-with-me opened #165 "Mark Unknown checkbox for webpage translation"
Add a markunknown checkbox for webpage translation. Also perhaps only remove the #-marks, not * .
@unhammer perhaps, may have more ideas on this?!

[2017-07-16 11:16] share-with-me opened #166 "TranslateText() to be called only when detectLanguage() completes"
Currently, on clicking the `identifyLang` button, it calls the `detectlanguage()` function and immediately calls the next method in succession ie, `translateText()`. Ideally, it shoulld get called only when `detectLanguage` completes.

[2017-07-16 17:44] share-with-me opened #168 "Swap Button does not swap select option values (on xs screen)"
When browser is zoomed (-xs mode > 170%), clicking on `swapLangBtn` does swap the languages in the `URL` bar. However, it does not swap the `select` options for the pair of languages on the `translateText` interface. The first image and the second image have their URL languages swapped but the `select` values are still the same.

![screenshot from 2017-07-16 23-09-21](https://user-images.githubuse

[2017-07-22 01:10] #168 closed

[2017-07-22 07:51] share-with-me opened #170 "Autoselect of destination language when option is changed on small screen is lacking"
Currently, in smaller screens window (zoomed at >= 200%), when a `select` option is changed in `srcLangSelect`, it does not automatically detect a corresponding destination language (which exists in the `pairs` of selected language).

For instance:

In the below image, I choose a language pair: `{eng: glg}`

![screenshot from 2017-07-22 13-18-20](https://user-images.githubusercontent.com/8894636/2

[2017-07-22 07:55] share-with-me commented on #170
One more concern I have with respect the correct behaviour is the following screnario:

Eg, I choose `Breton` as my source and `French` as my destination. However, when I swap, I can see that `Breton` does not appear in the destination languages for `French`. In this case, should the code automatically detect one valid language for `French` (which in this case could be `spa`) from the destination

[2017-07-22 09:42] unhammer commented on #165
The `#` marks should only appear on "beta" pairs (it's sort of a debug symbol for when we can't find the right inflection of a word). Markunknown *should* remove `*`. I added `#` there for jorgal since they run in-development pairs, but it'd remove from things like twitter hashtags and such so I don't think we should put it on apertium.org.

[2017-07-23 07:22] share-with-me opened #172 "500 Internal server error on empty input for Analyzer mode"
If the input for `Analyzer` mode is empty, it gives a `500-Internal Server error` as it expects some input for the mode on the APy side. Ideally, this should be handled on the client side by keeping a check on whether there is some input and in case there is none, the `analyzer request` should be aborted.

![screenshot from 2017-07-23 12-49-00](https://user-images.githubusercontent.com/8894636/284

[2017-07-23 14:48] share-with-me opened #174 "Disable 'detectLanguage' when on 'docTranslation' interface?"
When on `docTranslation` interface, on clicking `detect`, it takes up the contents of `originalText` and does the detect. But, one would expect the functionality to detect the language of the contents inside the uploaded doc thereby making it misleading. **Does the `detectLanguage` functionality work for docs too?**
(I could only see the functionality for `translateText` interface).

If no, would

[2017-07-23 15:02] unhammer commented on #174
It does not work for docs no, so disabling makes sense

[2017-07-23 16:32] sushain97 commented on #170
Is this the same behavior we have on the larger interface? If so, yes.

Hm, I actually am not a fan of the switch button not actually switching. It would be strange UX.

[2017-07-24 14:28] share-with-me commented on #170
Yes. That is how it is on the larger interface.

Awesome. I would change accordingly.

[2017-07-26 02:06] #174 closed

[2017-07-26 02:10] #172 closed

[2017-07-26 02:15] #170 closed

[2017-07-29 03:27] #61 closed

[2017-07-30 15:12] #166 closed

[2017-07-31 14:19] share-with-me opened #177 "Alignment of buttons on interfaces"
The buttons for various functionalities should be aligned with the text box and the language dropdown above it. For eg, in the below image, the left edge of `Analyse` button should be aligned as above elements.

![screenshot from 2017-07-31 19-47-06](https://user-images.githubusercontent.com/8894636/28781869-092e3af2-75fb-11e7-987d-ccef77bcc2fe.png)

[2017-08-02 03:40] #177 closed

[2017-08-05 02:19] #9 closed

[2017-08-08 19:51] share-with-me opened #181 "APy Sandbox request processes for empty inputs giving an error"
The request gets processed, gives an error and at the same time, asks for the user to not keep the input text area empty.

![screenshot from 2017-08-09 01-21-03](https://user-images.githubusercontent.com/8894636/29091578-0e696116-7ca1-11e7-929b-347035f925b6.png)

[2017-08-08 19:55] #181 closed

[2017-08-12 07:35] share-with-me opened #183 "APY Sandbox request to use callApy method"
APY Sandbox request must use `callApy` method to make use of `GET` or `POST` as appropriate. However, a question I have here is, we send the contents of `sandboxInput` as a part of `url` in the request (and not the `data`). Thus, even with using `POST`, it gives a 414-Request URI too large error. Searching the web yielded that the contents should be part of `data` in the packet and not the url. Is

[2017-08-12 08:09] share-with-me commented on #147
@sushain97 , do you mean something like the following? Either `localhost` or the `apertium.org/apy`? Or We could append the `/perWord` example to the endpoint and then render the example based on the endpoint the user is hitting?

![screenshot from 2017-08-12 13-37-35](https://user-images.githubusercontent.com/8894636/29239131-74e8c64c-7f63-11e7-8ac2-297af30c1630.png)

[2017-08-12 08:11] share-with-me commented on #147
Mistakenly closed it. Sorry!

[2017-08-12 16:38] sushain97 commented on #183
Yes.

On Aug 12, 2017 3:35 AM, "Monish Godhia" <notifications@github.com> wrote:

[2017-08-12 16:41] sushain97 commented on #147
No, the example is supposed to indicate how an input would look. It
shouldn't include the API base URL. I'm also not a huge fan of randomly
placing the URL below the example.

On Aug 12, 2017 4:11 AM, "Monish Godhia" <notifications@github.com> wrote:

[2017-08-13 02:50] #131 closed

[2017-08-13 07:39] share-with-me commented on #147
What would be an appropriate position?

[2017-08-13 08:03] share-with-me commented on #183
In that case, is there a way to not obtain 414 error for this request?

[2017-08-13 14:08] sushain97 commented on #183
Change APy to accept POST requests?

On Aug 13, 2017 4:03 AM, "Monish Godhia" <notifications@github.com> wrote:

[2017-08-13 14:09] sushain97 commented on #147
I'm not sure. Part of issue is to find a nice place.

On Aug 13, 2017 3:39 AM, "Monish Godhia" <notifications@github.com> wrote:

[2017-08-14 19:12] share-with-me commented on #183
Currently, APy does accept POST requests based on the length of the request URL. However, for that, the `data` parameter holds the request values. In the Sandbox request, we do not have a `data` param. Instead, we directly send it appending to the URL. I tried POST in the scenario where all the data is appended to `url` param. However, even POST in that case gives a 414 error.

The following AJAX

[2017-08-14 19:17] share-with-me opened #185 "Clear apyRequestTimeout in the event of request abort"
In case of successive calls of the same AJAX method, the prior ones are aborted and only the last one gets executed. However, the prior requests do start the `apyRequestTimeout` timer in the `callApy` method and when aborted, cause this `apyRequestTimeout` variable to display the installation notification.

For instance, when `detectLanguage` is called successively (See console) , the first reques

[2017-08-14 19:23] sushain97 commented on #183
Extract the URL params out of the value and put them into the `data`? I'm with this being a `wontfix` though...

[2017-08-14 19:24] sushain97 commented on #185
Yeah, I experienced this problem :( Would appreciate a fix.

[2017-08-14 19:26] share-with-me commented on #183
Should I drop it then? :P. I was just curious about it.

[2017-08-14 19:26] share-with-me commented on #185
On it :D

[2017-08-14 19:27] share-with-me commented on #147
How does this look?

![screenshot from 2017-08-15 00-54-48](https://user-images.githubusercontent.com/8894636/29287977-b94eb75e-8154-11e7-8049-5a394712a62f.png)

[2017-08-14 19:51] sushain97 commented on #183
Up to you!

[2017-08-14 19:52] share-with-me commented on #183
Haha.. Closing it here :D

[2017-08-14 19:52] #183 closed

[2017-08-14 19:57] sushain97 commented on #147
Looks better! Perhaps without the colon and fix the stylization of "APY" ->
"APy" at the same time.

[image: Sushain Cherivirala]
*Sushain K. Cherivirala *
Carnegie Mellon University, B.S. in Computer Science '17
Forward Deployed Software Engineer Intern, Palantir Technologies
Vice Chair, Undergraduate Student Senate
Research Assistant, Institute for Software Research
(713) 992-4043  <713-992-4043

[2017-08-17 15:10] #185 closed

[2017-08-17 19:14] share-with-me opened #188 "Enter button executes analyze, generate, sandbox methods even on empty input"
![screenshot from 2017-08-18 00-43-12](https://user-images.githubusercontent.com/8894636/29429437-505e4014-83ae-11e7-8bad-72acf43f33af.png)

[2017-08-18 19:59] share-with-me opened #190 "AJAX call in localizeStrings() and getLocales() method erroneusly displays Installation Notification"
The AJAX call made in the `localizeStrings()` and `getLocales()` method does not get invoked through `callApy` as a result of which `apyRequestStartTime` is not re-assigned ie. its value is same as the start time of a previously executed AJAX request invoked through callApy. The difference between `Date.now()` and `apyRequestStartTime` thus, exceeds individual duration thereby erroneusly displayin

[2017-08-18 20:02] share-with-me commented on #190
@sushain97 , Would an appropriate fix for this be invoking those AJAX calls through `callApy`?

[2017-08-18 20:03] sushain97 commented on #190
If that’s a clean fix (i.e. relatively small change), it sounds good.

[2017-08-19 03:03] #148 closed

[2017-08-19 03:48] sushain97 commented on #190
I took another look at this and `localizeStrings` doesn't even go through APy. The proper solution for this is setting `apyRequestStartTime = undefined` and then not running `handleAPyRequestCompletion` if `!apyRequestStartTime`. Then we won't have this problem with any other random AJAX calls we do.

Considering this bug as relatively high priority since it has the potential to be really annoying

[2017-08-19 13:46] #190 closed

[2017-08-19 13:48] #188 closed

[2017-08-19 13:51] sushain97 commented on #145
Closed by 09860df1d4d8a208af8dbae721235fd49862ebff and 7e8f863c48ead04b499898b2fd76d87047d4a656

[2017-08-19 13:51] #145 closed

[2017-08-19 19:24] share-with-me opened #192 "Clicking on Translate Button when on sm-* or xs-* screen width does not call translate()"
The `translate` button for interface corresponding to the `xs-*` sized screen does not have the `id='translate'` and thus, clicking on it does not call the `translate()` method.

[2017-08-19 19:29] sushain97 commented on #192
This must have worked at some point. It could never have had the right id
since they're unique per page. We should really have regression tests...

On Aug 19, 2017 3:24 PM, "Monish Godhia" <notifications@github.com> wrote:

The translate button for interface corresponding to the xs-* sized screen
does not have the id='translate' and thus, clicking on it does not call the
translate() method.

—
You

[2017-08-19 19:31] share-with-me commented on #192
Would it make sense to use `.translateBtn` class as it is common across the buttons on both screen sizes? Please see #193

[2017-08-19 19:32] sushain97 commented on #192
If it's not used anywhere else, yes. When did this regression occur?

On Aug 19, 2017 3:31 PM, "Monish Godhia" <notifications@github.com> wrote:

[2017-08-19 19:37] share-with-me commented on #192
This class is only used twice corresponding to the two occurrences of `translate` button. Thus, it is used at no other place except the `translate` button.

Um, regression as in this bug? I am not sure. I do not recollect removing an id for an existing element. How can one find out?

[2017-08-19 19:40] share-with-me commented on #192
I believe an analogous fix would also be required for `detectLanguage` button.

[2017-08-19 19:40] sushain97 commented on #192
You could try git bisect. Looking at the blame might also be a simple route.

On Aug 19, 2017 3:37 PM, "Monish Godhia" <notifications@github.com> wrote:

[2017-08-19 19:43] sushain97 commented on #192
Looks like it's been broken for a while so I wouldn't worry about figuring
out when.

On Aug 19, 2017 3:40 PM, "Sushain Cherivirala" <sushain@skc.name> wrote:

[2017-08-19 21:52] #192 closed

[2017-08-20 06:49] share-with-me opened #194 "translateDoc() not called on changing src or dst Language when on docTranslation Interface"
When the `src` or `dst` language is changed on `translateText` interface, an ongoing request is aborted and the `translateText()` method gets called. However, the same when done on `docTranslation` interface, neither aborts an ongoing request nor calls the `translateDoc()` method. This is because the code only calls `translateText()` when any of these languages is changed. Would implementing this

[2017-08-20 10:40] share-with-me opened #196 "perWord example on APy Sandbox page fails"
The example provided fails with a bad request error.  I am running this in my local instance of APy.

![screenshot from 2017-08-20 16-08-44](https://user-images.githubusercontent.com/8894636/29494173-e0e1f09a-8593-11e7-85c1-69bf4a965585.png)

Edit: It fails for `https://www.apertium.org/apy` too.

![screenshot from 2017-08-20 16-15-25](https://user-images.githubusercontent.com/8894636/29494214-c9a

[2017-08-20 10:42] share-with-me commented on #196
I changed the `lang=en-es` to `lang=eng-spa` and it worked. I am not sure what is going wrong here in the original example.

![screenshot from 2017-08-20 16-11-09](https://user-images.githubusercontent.com/8894636/29494188-33dfcdee-8594-11e7-9265-213e459d7329.png)

[2017-08-20 15:20] #194 closed

[2017-08-20 23:18] #137 closed

[2017-08-20 23:18] sushain97 opened #197 "Upload build artifacts through Travis (/build)"
This would enable a code reviewer to easily view the app live with proposed changes without downloading, building and running it locally.

We may have to include a CONTRIBUTING.md that requires peeps to enable Travis on their fork. (we should probably have one anyway)

[2017-08-21 20:49] jonorthwash opened #198 "Translation help string is outdated (only refers to text translation)"
Currently website translation uses the same "translate your text" string as for text translation.  This should be a new string to the effect of "translate a website", which should be integrated into the string localisation system.  Also, might we consider adding a "(beta)" string too?

[2017-08-21 20:57] sushain97 commented on #198
I agree with the problem but I think a slightly different solution is in order. If I understand correctly, the text you're referring to is currently (in English):

In fact, this is **already inaccurate** since we offer document translation. I propose switching it to:

Such a modification would be more future-proof and cover both website, document and text translation. Since this is a change in the

[2017-08-21 20:59] sushain97 commented on #196
This isn't an html-tools bug, it's an [APy](https://github.com/goavki/apertium-apy) problem. You may want to migrate your ticket over there.

[2017-08-21 20:59] #196 closed

[2017-08-21 22:03] jonorthwash commented on #198
The problem with this is that "translate" will require an object in a lot of languages, which forces you back into saying what you're translating.

Yeah, but website translation is less likely to work right than most of the rest of the website.  It might be good to alert people to this one way or the other, so they don't get their hopes up or get confused and click "translate" a hundred times when

[2017-08-22 00:56] sushain97 commented on #198
Good point. I guess in that case they would have to specify [text, documents and websites], some vague object or use an alternate construction. I don't think we should be switching that tagline as users switch between interfaces so it needs to be general.

Since we display "Translation not available" upon failure, I don't think this would be a problem? I think the larger concern I have with a beta

[2017-08-22 00:56] sushain97 commented on #198
cc @share-with-me

[2017-08-22 01:21] jonorthwash commented on #198
E.g., "translate your material" would be okay, at least as an option for other languages.

Unless it just screws stuff up because of issues with the html of the page?

I was imagining a separate string for that.

Yeah, that's a permanently experimental feature :D

[2017-08-22 02:33] sushain97 commented on #198
:+1:

Fair.

Sounds good! We can have a "Beta" badge.

[2017-08-22 17:02] share-with-me commented on #198
Um, so for the text on website translation interface, what should I change it to? (Sorry but couldn't infer the exact string and the position of Beta tag :/)

[2017-08-22 17:09] sushain97 commented on #198
@share-with-me the string is just "Beta" and the tag position isn't determined yet.

[2017-08-22 17:11] share-with-me commented on #198
Oh, so should I replace the entire `Choose two languages and translate your text using Apertium's translation platform!` and replace it with just `Beta` ?

[2017-08-22 17:13] sushain97 commented on #198
No, the "Beta" is just a badge we should add somewhere. I would suggest not focusing on this ticket for now.

[2017-08-22 17:14] share-with-me commented on #198
Ohh! In that case, I have updated both the front as well as the backend PRs. Please have a look :)

[2017-08-23 03:32] #197 closed

[2017-08-23 04:31] sushain97 opened #200 "Upgrade to Bootstrap 4"
https://getbootstrap.com/

[2017-08-23 05:05] sushain97 opened #201 "Stop failing Chrome audit"
Well this sucks (some of them are moot on apertium.org probably)

![image](https://user-images.githubusercontent.com/4211838/29599623-15cf76da-879f-11e7-91b9-468cd2290285.png)

[2017-08-23 06:18] sushain97 opened #203 "Apertium has trouble translating itself"
Sad!

![image](https://user-images.githubusercontent.com/4211838/29601412-63e408ae-87a9-11e7-8e00-c0b052232279.png)

[2017-08-23 07:40] sushain97 commented on #83
some test sites:

![image](https://user-images.githubusercontent.com/4211838/29603772-6ab06fec-87b3-11e7-8bf0-83e771db0cc2.png)

![image](https://user-images.githubusercontent.com/4211838/29603942-ec350262-87b3-11e7-9ea2-a3e5921cb5a0.png)

![image](https://user-images.githubusercontent.com/4211838/29604088-62a9f5a6-87b4-11e7-8544-baa398f9aeb4.png)

![image](https://user-images.githubusercontent.co

[2017-08-24 05:24] jonorthwash opened #206 "theming issues, eternal wait with no time-out"
When I load apertium.org now, I get the following.  With the different resolutions I'm demonstrating that it doesn't seem to be window size that causes the bad position of the dropdown.

![2017-08-24-01 22 25_001](https://user-images.githubusercontent.com/963849/29650776-058d8948-886b-11e7-881a-284a480dfa1d.png)

![2017-08-24-01 22 38_001](https://user-images.githubusercontent.com/963849/29650772-

[2017-08-24 05:26] sushain97 commented on #206
APy is down:

https://www.apertium.org/apy/listPairs

Would not expect anything to work.

[2017-08-24 05:26] #206 closed

[2017-08-24 05:38] sushain97 opened #207 "Fail more gracefully when APy is down"
currently the interface looks incorrectly aligned...

see #206 for screenshots

[2017-08-31 17:01] #83 closed

[2017-10-11 15:05] sushain97 commented on #19
going to close this as a dup of #127 even though this came first since there's more discussion there.

[2017-10-11 15:05] #19 closed

[2017-10-11 15:07] sushain97 commented on #151
Assigning to myself since #152 is blocked by me figuring out sane requirements.

[2017-10-11 15:07] sushain97 commented on #132
Assigning to myself since #152 is blocked by me figuring out sane requirements.

[2017-10-11 15:19] sushain97 commented on #12
There's some existing code that works towards this: https://github.com/goavki/apertium-html-tools/pull/176. The code needs a bit of polish and some extra UI-robustness testing.

[2017-11-12 18:21] jonorthwash opened #210 "list of languages incorrectly localised"
Expected behaviour:
- If language name is localised, display that
- Else if language name is natively localised, display native name
- Else display ISO code

Current behaviour:
- If language name is localised, display that
- Else if language name is natively localised and has a two-letter code, display native name
- Else display ISO code

Here's an example:
`http://turkic.apertium.org:8080/listLan

[2017-11-17 14:37] sushain97 opened #212 "Split CSS into multiple files"
Our CSS would be better organized in multiple files based on the current comments indicating what function each part of it serves.

[2017-11-29 18:18] idealadarsh commented on #114
@sushain97 I'd like to work on this issue.

[2017-11-30 20:34] myfrom commented on #97
Did anyone try a trick with `<a href="dataURL">`? I can check that method tommorow.

[2017-11-30 20:36] myfrom commented on #97
Oh, and BTW: just checked and it doesn't download in IE10 and probably also in Edge13

[2017-12-01 00:43] shardulc commented on #114
@sushain97 Fix with #214, should be closed.

[2017-12-01 00:51] sushain97 commented on #114
Not yet, unfortunately!

[2017-12-01 09:44] idealadarsh commented on #212
@sushain97 I want to work on this and rearrange as well as fix the issues came up after my last PR.

[2017-12-01 12:16] idealadarsh commented on #212
@sushain97 @shardulc I just completed the setup of apertium-html-tools. I now understand what you want, I'll remove inline styles, split the css files and also check its workability.
Are you guys available on IRC ( just in case  I needed to ask something ), if yes what's the approximate time peroid you guys are active on IRC or any other social network.

[2017-12-01 15:05] sushain97 commented on #212
@idealadarsh sounds good to me! You don't have to redo any work. The `inline-styles` branch is a good place to start. We are both available on IRC. I'm in EST and I believe @shardulc is PST (US timezones).

[2017-12-01 19:41] myfrom commented on #97
I was able to fix it for IE10+
If I don't run out of time in GCI task, I'll also try to get Safari done

[2017-12-01 19:48] sushain97 commented on #97
Since the change for IE was relatively small, I'd like to see this fixed Safari as well. I'm happy to extend the GCI time, not a problem at all.

[2017-12-01 19:54] myfrom commented on #97
Thank you. I'll look further into it but I can't guarantee I'll make it.

[2017-12-04 17:19] sushain97 commented on #55
moved from PR:

@shardulc @jonorthwash I went ahead and set it up on my server (with a recaptcha key) so we can easily test: https://azurite.skc.name/apertium-html-tools/build/index.eng.html

You need to check `Mark unknown words` for it to take effect (type some nonsense to translate and you'll see the red).

There are definitely some UI touches that need to take place but I haven't thoroughly te

[2017-12-04 17:33] shardulc commented on #55
@sushain97 When I click the suggest button, nothing happens and I cannot see any network activity either. (The captcha works fine.) However, I can't debug this because I only see `min.js` :smiley:

[2017-12-04 17:34] sushain97 commented on #55
Let me run make debug next time I'm not afk and it'll be easier.

On Dec 4, 2017 12:33 PM, "Shardul Chiplunkar" <notifications@github.com>
wrote:

[2017-12-04 17:35] Androbin commented on #210
I'm afraid, I can't reproduce this.

[2017-12-04 17:40] Androbin commented on #203
For me, it is looping:
![screenshot](https://user-images.githubusercontent.com/16437156/33567170-92803910-d922-11e7-90be-8714ec054053.png)

[2017-12-04 17:41] sushain97 commented on #203
That's also concerning.

On Dec 4, 2017 12:40 PM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2017-12-04 19:20] sushain97 opened #220 "Make debug is borked"
[code]

I think this happened in ac38feaf174b86c4838aa447a409a7e651b657d2 @unhammer

[2017-12-04 19:24] sushain97 commented on #55
@shardulc https://azurite.skc.name/apertium-html-tools/build/index.debug.html

Don't try too much to debug it ;) Just make a list of problems.

[2017-12-05 06:30] efeichen commented on #200
I would like to work on this issue, is there anything I should be careful about when implementing BS4 that you can think of?

[2017-12-05 06:37] sushain97 commented on #200
There's a lot of inline styling we do that can be replaced with BS4 utility classes (for a start). All the themes need to be tested as well :) I believe Bootswatch has updated theirs. Nothing else comes to mind immediately.

One would hope this isn't too many large changes! Also note that this might not actually be possible if Bootstrap beta is buggy and we *might* not merge it until BS4 goes past

[2017-12-05 09:06] unhammer commented on #203
I suppose we could simply check if the domain resolves to apertium.org and block that (though I'm sure some enterprising hacker will find a mutual recursion method using a different translation service)

[2017-12-05 12:55] Androbin commented on #203
What about a maximum `iframe` depth?

[2017-12-05 16:41] shardulc commented on #55
List of problems:
 1. `/suggest` is not yet implemented on APy, not even a dummy
 1. The captcha is off-center and the text inside the captcha overflows it (see image); perhaps it would be better if we used an [invisible captcha](https://developers.google.com/recaptcha/docs/invisible)?
 1. Might be because of point 1, but after you make the suggestion, the modal doesn't go away
 1. You can click t

[2017-12-05 16:55] shardulc commented on #158
Recreating relevant comments:

My idea:

@sushain97's rebuttal:

[2017-12-05 17:23] myfrom opened #221 "Manually downloading translated documents generates a weird filename"
**How to reproduce?**
Right-click the download link after translating a document and click "Save target as..."

**Expected behaviour**
The default filename is same as uploaded file or something default such as 'translated.txt'.

**Actual behavior**
The default filename is a weird string.

**Affected browsers**
All that don't support `download` attribute in `<a>` tag.
[caniuse](https://caniuse.com/

[2017-12-05 17:27] shardulc commented on #158
Right now, the plan I'm most comfortable with is:
 - `advanced-config.conf` under version control with the defaults we want
 - `read-conf.py` with fallbacks duplicating `advanced-config.conf`
 - `config.conf` as before

@sushain97 What do you think?

[2017-12-05 17:37] sushain97 commented on #55
Seems like a good set of issues to me, i.e. sufficiently specific to create a GCI task.

Did you not experience CPU spikes while typing in the source text on this branch?

[2017-12-05 17:42] shardulc commented on #55
I tried 10 times and I experienced CPU spikes only once, on my first try. The other 9 times were completely normal CPU activity.

[2017-12-05 17:56] #97 closed

[2017-12-05 18:01] myfrom opened #222 "Can't download translated documents in Safari on iOS"
**How to reproduce?**
Translate any document on Safari on iOS and click the "Download _filename_" link.

**Expected behaviour**
The file downloads.

**Actual behavior**
The file opens as plain text in the browser tab.

**Affected browsers**
Safari on iOS

[2017-12-06 16:06] Jeewal commented on #210
I'd like to try and work on this one!

[2017-12-06 16:41] sushain97 commented on #210
@Jeewal sure! Feel free to send a PR or ask for help.

[2017-12-07 19:56] Androbin commented on #105
I am looking into this as part of [this GCI Task](https://codein.withgoogle.com/dashboard/task-instances/4781648174383104/).
But for some reason `www.apertium.org/apy/dictionaryLookup` gives me a 404 response code no matter what.

[2017-12-07 19:59] sushain97 commented on #105
That means one of the following:

1) /dictionaryLookup is disabled on production APy
2) dictionary lookup isn't actually merged in on the `apertium-apy` repo
3) dictionary lookup is broken
4) you're not calling it correctly :)

I can't be certain which it is. I suggest running your own instance of APy. Running html-tools via Docker does exactly that.

[2017-12-11 17:16] #201 closed

[2017-12-13 21:46] Stevenjin8 commented on #105
Hey im here for cdi, not sure what to do, Ive cloned the master branch

[2017-12-15 22:52] Androbin commented on #80
The only real dependency cycle exists between `translator.js` and `util.js`.
First, we should probably figure out where [this block in `util.js`](https://github.com/goavki/apertium-html-tools/blob/master/assets/js/util.js#L82) should go. This code clearly doesn't belong in the utility file.

[2017-12-15 22:57] Androbin commented on #80
This would resolve the dependency cycle without further ado. In fact, everything that `util.js` imports from `persistence.js`, `localization.js` and `translator.js` is fully contained within this block.

[2017-12-16 02:04] sushain97 commented on #80
Maybe `init.js`? Any other suggestions?

More importantly, is there a way to prevent this from re-emerging as an issue? Perhaps build flow into the build system?

[2017-12-16 12:26] Androbin commented on #80
Maybe we can enforce constraints on which modules may import certain other modules.

[2017-12-16 14:36] sushain97 commented on #80
How? I'd much rather just run Flow... then we get type errors reported as well. (since this task otherwise is literally just copy pasting code, this should get done as well).

[2017-12-16 14:43] Androbin commented on #80
Why do only `translator.js` and `util.js` contain the `@flow` annotation?

[2017-12-16 14:47] sushain97 commented on #80
I dunno. @unhammer did it ;) Presumably, the annotation can be added to all files without actually adding any types yet.

[2017-12-16 21:20] #80 closed

[2017-12-16 21:23] sushain97 opened #228 "Better flow coverage"
Not looking so great.

Should also add `flow-coverage-report` to build after it looks OK.

[code]

[2017-12-16 21:28] sushain97 commented on #228
For purposes of task completion, I deem sufficient changes to be the lower of 20% overall improvement or 350 LOC modified (i.e. you can do either).

cc @shardulc

[2017-12-16 21:47] Androbin commented on #228
What are [these ternaries](https://github.com/goavki/apertium-html-tools/blob/master/assets/js/translator.js#L425) supposed to accomplish?
[code]
Proper error handling looks different.

[2017-12-16 21:54] sushain97 commented on #228
Yeah, I'm not really sure. This task is non-trivial because of tricky little things like this. I agree though that the code isn't great as written.

[2017-12-16 22:49] #220 closed

[2017-12-17 08:04] unhammer commented on #80
I guess those are the files I worked most on :) Or maybe the other files gave too many errors at the time.

[2017-12-17 10:36] Androbin commented on #80
@unhammer So, shall we add the annotation to the other files as well?

[2017-12-17 11:10] diogoscf commented on #222
Apple only allows downloads for files from the Internet since iOS10 (this isn’t just Safari since all browsers on iOS are basically Safari with a different interface, due to Apple Rules). The download only works however, if the link to the file ends with a supported file extension, but html-tools doesn’t seem to do that. Also, the only way to download stuff on iOS, even with `download` in `a` is u

[2017-12-17 11:53] unhammer commented on #80
Yes, if it doesn't break anything (or if you fix what it breaks ;))

[2017-12-17 11:56] Androbin commented on #80
Spoiler: It breaks.

[2017-12-17 13:44] sushain97 commented on #80
(Flow removed weak mode so now we have to explicitly type a bunch of stuff for it to even start working...)

[2017-12-17 14:03] sushain97 commented on #222
Interesting... how hard would it be to fix?

[2017-12-17 19:23] diogoscf commented on #222
The link to the document would have to have the correct extension and it would still open as plain text in the browser, but you would be able to download it using the share button. Apple really hasn’t made a good job with downloads from iOS Safari.

[2017-12-17 19:45] diogoscf commented on #221
If a browser doesn’t support the `download` attribute, and you use “Save target as...” it will use the link to the file as the filename, which is a weird string due to the way the link is created.

[2017-12-17 20:24] sushain97 commented on #221
Indeed, that's what we gathered. However, we're not sure how to fix it (or
if it's even possible).

[2017-12-17 20:39] diogoscf commented on #221
It’s theoretically possible, but **HARD**, as explained [here](https://stackoverflow.com/a/41947861/7729429).

[2017-12-19 15:30] omairqazi commented on #222
Because of Apple rules, this is not allowed. But you can try using any download manager from app store.

[2017-12-19 15:33] diogoscf commented on #212
There is a single css rule-set labeled as analysis. Should I create a stylesheet just for that or should I add it to another stylesheet (like general)?

[2017-12-19 15:39] sabakkps opened #231 "Download translated documents on iOS"
Hi guys!
I am unable to download any translated document on iOS 11 on iPhone 6.
Please help!

[2017-12-19 15:41] omairqazi commented on #231
Well, Apple rules don't allow this. But you can try downloading a download manager in App Store and try using it.

[2017-12-19 15:49] sushain97 commented on #231
Duplicate of #222.

[2017-12-19 15:49] #231 closed

[2017-12-19 15:58] sushain97 commented on #212
Another stylesheet is fine.

On Dec 19, 2017 10:33 AM, "Diogo Fernandes" <notifications@github.com>
wrote:

There is a single css rule-set labeled as analysis. Should I create a
stylesheet just for that or should I add it to another stylesheet (like
general)?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/goavki/apertium-ht

[2017-12-19 16:08] omairqazi opened #232 "Python Syntax Error"
I am facing this issue many times:
SyntaxError: Missing parentheses............

[2017-12-19 16:09] #232 closed

[2017-12-19 16:10] sabakkps opened #233 "Python syntax error"
I am facing this issue many times:
SyntaxError: Missing parentheses............

Also, sometimes it says something like python3 not found!.........

[2017-12-19 16:11] omairqazi commented on #233
It sounds like you are using python2.x. Try installing python3.

[2017-12-19 16:11] sabakkps commented on #233
Thanks @omairqazi

[2017-12-19 16:11] #233 closed

[2017-12-20 00:50] sushain97 commented on #228
Looks much better now! @Androbin, if you'd like to fix up "the rest" of it under the auspices of another task, be my guest.

[code]

[2017-12-20 00:52] sushain97 opened #236 "Buggy UI after switching into translate document/webpage after detecting language"
No language is selected anymore:

![image](https://user-images.githubusercontent.com/4211838/34185880-097ea8ec-e4f6-11e7-948a-e7e60f9199bf.png)

[2017-12-20 14:18] #212 closed

[2017-12-20 15:42] sushain97 commented on #228
I don't really know if this can be bettered much at this point :)

[code]

[2017-12-20 16:58] Androbin commented on #228
I there is a ticket for it, I will try my best.
Currently looking into #130.

[2017-12-20 17:14] Androbin commented on #130
I ran the coverage report tool in Chrome DevTools for first load:
- 83.9 % ~ 109 kb of `css/min.css` are not used
- 58.1 % ~ 66 kb of `js/min.js` are not used
- 74.1 % ~ 47 kb of `piwik/piwik.js` are not used

Some of this could of course be used in various places. But it would be nice to be able to load that on demand and most importantly: after the initial page load.

I will try to split these i

[2017-12-20 17:17] Androbin commented on #130
@unhammer @sushain97 You think we can split on a per-module basis now?

[2017-12-20 17:25] Androbin commented on #130
It seems like `css/min.css` are `js/min.js` aren't actually minified at all.
Basic minification would already yield:
- a 25.6 % ~ 33.35 kb reduction of `css/min.css`
- a 43.2 % ~ 48.77 kb reduction of `js/min.js`

This should be fairly easy to implement.

[2017-12-20 17:43] sushain97 commented on #130
Keep in mind that we should *not* be editing any vendored CSS/JS. That
probably means not editing 95% of the code (why this issue has been stale
for a while).

On Dec 20, 2017 11:14 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

I ran the coverage report tool in Chrome DevTools for first load:

   - 83.9 % ~ 109 kb of css/min.css are not used
   - 58.1 % ~ 66 kb of js/min.js are not use

[2017-12-21 17:38] Androbin commented on #130
Currently, `css/min.css` and `js/min.js` are [not minified](https://github.com/goavki/apertium-html-tools/issues/130#issuecomment-353128033) like their supposed to be.
I propose to add a minification step to `Makefile` similar to [this gist](https://gist.github.com/rgrove/1116056).

[2017-12-21 19:02] sushain97 commented on #130
That would introduce a Java dependency, unfortunately.

On Dec 21, 2017 11:38 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2017-12-21 19:07] Androbin commented on #130
What about using `uglifyjs` instead?
* https://gist.github.com/bpierre/1341808
* https://gist.github.com/gabekneisley/2655106

[2017-12-21 19:42] sushain97 commented on #130
If I understand correctly, that would be a Node dependency.

On Dec 21, 2017 1:07 PM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2017-12-21 19:44] Androbin commented on #130
Wouldn't that be doable?

[2017-12-21 19:45] sushain97 commented on #130
It's the same problem as a Java dependency.

On Dec 21, 2017 1:44 PM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2017-12-24 07:14] JPJPJPOPOP commented on #236
@sushain97

We should probably just switch to highlighting the first language right since clicking detect-language automatically changes the first listed language to the detected one?

[2017-12-24 15:12] sushain97 commented on #236
Yes and yes.

[2017-12-25 00:01] JPJPJPOPOP commented on #236
@sushain97

Then I'm going to try working on this for my GCI task: https://codein.withgoogle.com/dashboard/task-instances/6122118573981696/

[2017-12-25 00:23] sushain97 commented on #236
@JPJPJPOPOP sounds good! Depending on how complex it ends up being, it may warrant an extra issue for the task.

[2017-12-25 00:28] JPJPJPOPOP commented on #236
@sushain97
Seems fair :D

[2017-12-25 00:46] JPJPJPOPOP commented on #236
@sushain97 I'll do another one 👍 .

[2017-12-25 05:54] #236 closed

[2017-12-27 00:58] Androbin commented on #48
Any updates on this yet?

[2017-12-27 00:59] Androbin commented on #151
Any updates on this yet?

[2017-12-27 01:34] sushain97 commented on #151
No. If you would like to figure out the prons and cons of each approach, feel free!

[2017-12-27 01:37] Androbin commented on #151
Well, for one thing, I could resolve #152.

[2017-12-27 01:41] sushain97 commented on #151
I don't know what it means to resolve a pull request.

The blocking item here is that the correct behavior for each scenario needs to be articulated. See my comments here and on #132 and #152 for different problems I've brought up.

[2017-12-27 01:43] Androbin commented on #151
I meant resolving the merge conflicts and addressing the issues brought up.

[2017-12-27 01:49] sushain97 commented on #151
I would rather nothing happen until a solid plan is formed.

[2017-12-27 02:05] Androbin commented on #207
@sushain97 Do you have suggestions for an appropriate error message and how to display it?

[2017-12-27 02:11] sushain97 commented on #207
Ideally, none. Everything should just respond with no translation available.

[2017-12-27 11:40] Androbin commented on #207
What do we know yet about the cause of the layout issue?
I'd suspect that some part of the script gets stuck during a DOM modification.

[2017-12-27 15:22] sushain97 commented on #207
Nothing as far as I know.

On Dec 27, 2017 5:40 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2017-12-27 15:29] Androbin commented on #207
Which parts of the initial DOM construction could be blocked when APy is down?
Which parts of a fresh page are generated by code that's interlaced with networking code?

[2017-12-27 15:39] sushain97 commented on #207
I don't carry all this information in my head. Figuring it out would be
part of fixing the issue.

On Dec 27, 2017 9:29 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

Which parts of the initial DOM construction could be blocked when APy is
down?
Which parts of a fresh page are generated by code that's interlaced with
networking code?

—
You are receiving this because you were mentioned.

[2017-12-27 16:52] Androbin commented on #207
No deal, it'd just be wasted effort if you had some idea.

[2017-12-27 17:40] Androbin opened #240 "apy / identifyLang returns code 400"
The "Detect Language" feature is broken due to a failing request:
![screenshot](https://user-images.githubusercontent.com/16437156/34388648-3584f636-eb35-11e7-8640-9971ad804ca2.png)

[2017-12-27 17:43] sushain97 commented on #240
This isn't an `html-tools` issue unless it doesn't we don't meet the spec for `/identifyLang`. It would be an `APy` issue.

[2017-12-27 17:43] #240 closed

[2017-12-27 17:44] Androbin commented on #240
Sorry, the query string looked suspicious.

[2017-12-27 17:54] sushain97 commented on #240
Which part? It looks normal to me. Maybe the problem is that we're allowing lang identification on an empty string (APy shouldn't break on it but we also shouldn't allow it). Feel free to check and create a new (more specific) issue.

[2017-12-27 18:08] Androbin opened #241 "Detect Language fails for empty text"
The interface doesn't catch attempts to detect the language of empty text which results in https://www.apertium.orf/apy/identifyLang producing code 400 errors.

![screenshot](https://user-images.githubusercontent.com/16437156/34388874-8c768274-eb36-11e7-86a6-3fa65eced2ef.png)

[2017-12-27 19:27] jonorthwash commented on #48
Still seems to be a problem, even with the line in `/etc/apache2/conf-enabled/charset.conf`.

[2017-12-27 22:04] sushain97 commented on #241
I think the button should just be disabled.

[2017-12-27 22:09] Androbin commented on #241
Quick clarification: when there is no text? or in general?

[2017-12-27 22:14] sushain97 commented on #241
This! Why would we always disable detection? :)

[2017-12-29 16:48] Androbin commented on #130
@sushain97 In which language would a minification step need to be written to be acceptable?
Or else we could just do some dirty processing using regular expressions.

[2017-12-29 16:57] sushain97 commented on #130
Bash or Python. However, anything too complex is likely to have edge cases
we miss and/or be unmaintainable.

On Dec 29, 2017 10:48 AM, "Robin Richtsfeld" <notifications@github.com>
wrote:

[2017-12-29 17:01] Androbin commented on #130
A naive implementation would probably just strip whitespace (and the like) in very obvious cases. Any somewhat more sophisticated implementation is expected to be robust.
I'll try the former and then look around for the latter.

[2017-12-30 07:03] JPJPJPOPOP commented on #116
@sushain97

Found something interesting relating to this: https://github.com/Krinkle/travis-ci-node-and-browser-qunit

Might try doing this task later :D

[2017-12-30 22:51] sushain97 commented on #116
Cool! Testing in Node is fine. We're using Circle for this project but it's basically the same as Travis. It's already set up with Node as well.

[2017-12-31 05:12] sushain97 opened #244 "Deploy all pairs script does not downloading all language modules"
Requires work on `apertium-get`.

[2017-12-31 05:32] #244 closed

[2018-01-01 00:51] Androbin commented on #130
#243 already got us https://github.com/goavki/apertium-html-tools/issues/130#issuecomment-353128033.

Actually, JS and CSS aren't our main problem anymore:
![after-chart](https://user-images.githubusercontent.com/16437156/34464897-3f32b57a-ee95-11e7-8ef9-719d279c99e6.png)
![after-table](https://user-images.githubusercontent.com/16437156/34464907-e645c550-ee95-11e7-87dd-b99695e0aa12.png)

Note: The

[2018-01-01 01:01] Androbin commented on #130
Also, https://github.com/goavki/apertium-html-tools/issues/130#issuecomment-353125147 still holds for the most part.

- 84.3 % ~ 89 kb of `css/min.css` are not used
- 57.7 % ~ 45 kb of `js/min.js` are not used

Note: These numbers refer to the initial page load. But we want to defer loading the rest.

[2018-01-01 01:04] Androbin commented on #130
We currently load `https://fonts.googleapis.com/css?family=Ubuntu` (amongst others).
But most of that font family is not actually needed. We want to load a subset of it.

[2018-01-01 01:10] Androbin commented on #130
This could reduce our font footprint by a 2.5-fold.

[2018-01-01 01:14] sushain97 commented on #130
What are you proposing removing? Don't forget that we need to support at least Aragonese (arg), Avar (ava), Catalan (cat), English (eng), Basque (eus), French (fra), German (deu), Hebrew (heb), Karakalpak (kaa), Kazakh (kaz), Kyrgyz (kir), Nynorsk Norwegian (nno), Bokmål Norwegian (nob), Occitan (oci), Portuguese (por), Romanian (ron), Saami (sme), Spanish (spa), Tatar (tat), Thai (tha), Turkish (

[2018-01-01 20:14] sushain97 opened #246 ""Multi-step translation" option glitches on RTL"
![image](https://user-images.githubusercontent.com/4211838/34470747-042bad42-eefe-11e7-9c23-b0909865ac25.png)

[2018-01-01 20:15] sushain97 commented on #48
![image](https://user-images.githubusercontent.com/4211838/34470756-225e977a-eefe-11e7-8f8d-5f66372398c0.png)

Did you ever add it to `httpd.conf` and restart Apache?

https://stackoverflow.com/a/913885/1266600

[2018-01-01 22:02] sushain97 opened #247 "APy via Docker doesn't modify config.conf"
By default, the makefile copies config.conf.example. However, if you `docker-compose up`, you likely want to use local APy, not apertium.org's. It would be nice if the Makefile could detect being in Docker and make that slight modification.

[2018-01-02 06:55] TinoDidriksen commented on #48
It has to do with Apache's MIME module and `/etc/apache2/mods-available/mime.conf`, specifically the line `AddCharset ISO-8859-8  .iso8859-8  .heb .hebrew`.

One can safely comment out all the `AddLanguage` and `AddCharset` from mime.conf.

[2018-01-02 18:33] ryanachi commented on #82
I'm planning on working on this issue next.  Do you think we'll be going ahead with @unhammer 's proposal, or we planning to integrate @sushain97 's 'dropdown-within-dropdown' idea?

[2018-01-02 18:37] sushain97 commented on #82
@shardulc also has a proposal that we discussed in IRC that could be good. perhaps he can copy the discussion here

[2018-01-02 18:43] #241 closed

[2018-01-02 19:14] shardulc commented on #82
On [2017-12-26 on #apertium](https://tinodidriksen.com/pisg/freenode/logs/%23apertium_20171226.log):

[code]

![variant picker proposal](https://screenshots.firefoxusercontent.com/images/b82722ea-fd48-4181-a1ee-e930a5d5459c.png)

[2018-01-02 22:16] ryanachi commented on #82
Looks good!  @sushain97 If it's OK with you, I'll try to implement the language selection–display as shown on @shardulc 's image, except with a smaller font for the variants.

[2018-01-02 22:48] sushain97 commented on #82
Yeah, sounds good! Slight modification - nothing about "Standard". Just
variants on new lines with the language name itself also clickable.

On Jan 2, 2018 4:16 PM, "ryanachi" <notifications@github.com> wrote:

[2018-01-03 23:49] ryanachi commented on #82
@sushain97 @shardulc how would you like the translator to fetch the name of the variant?  I could create a list of tuples with the language codes and variant names; alternatively, I could just have the translator test for underscores and strip off everything before.  (e.g., 'cat_valencia' --> 'valencia', 'por_BR' --> 'BR')

[2018-01-03 23:52] sushain97 commented on #82
Variant naming needs to go through langNames.db in APy since the names have
to be available for every language we support. I suggest adding a new SQL
dump file e.g. variants.sql that the Makefile uses when creating
langNames.db.

On Jan 3, 2018 5:49 PM, "ryanachi" <notifications@github.com> wrote:

@sushain97 <https://github.com/sushain97> @shardulc
<https://github.com/shardulc> how would you like

[2018-01-04 07:04] jonorthwash commented on #48
That seems to've worked; thanks @TinoDidriksen!

Yet another reminder of wrong assumption regarding the world being finished moving to UTF-8 and us being done with all the MIME business.  It's funny, Apache's MIME module is probably for backwards-compatibility—maybe they should turn it off by default?

[2018-01-04 07:15] #48 closed

[2018-01-07 06:36] JPJPJPOPOP opened #258 "Bug in displaying navbar with one item"
In `config.conf`, set `SHOW_NAVBAR = True` but with only one mode `ENABLED_MODES`.

It ends up like this:
![screen shot 2018-01-06 at 10 31 10 pm](https://user-images.githubusercontent.com/13565154/34647243-05071048-f332-11e7-8d63-32b44e4a4ec3.png)

[2018-01-10 05:17] sushain97 opened #259 "Selected variant looks somewhat ugly on mobile"
Ideally they would "revert" to normal indentation when selected:

![image](https://user-images.githubusercontent.com/4211838/34756852-41900bc4-f593-11e7-871f-8fe9065508f5.png)

![image](https://user-images.githubusercontent.com/4211838/34756847-3bfa9c88-f593-11e7-901c-0d7d3f15ee53.png)

[2018-01-10 05:25] sushain97 commented on #210
Oh, I remember why this problem occurs! Autoglottonyms are hardcoded in `localization.js` for technical reasons. The output of APy is irrelevant.

[2018-01-10 05:38] #82 closed

[2018-01-10 05:56] JPJPJPOPOP opened #261 "Switching from mobile to desktop doesn't update locale select"
Changing the locale language on mobile then switching to desktop mode doesn't update the locale select:
![locale](https://user-images.githubusercontent.com/13565154/34757699-e328563c-f587-11e7-8f0a-313bd7c754bb.gif)

[2018-01-10 16:42] sushain97 commented on #261
Lol, I guess so. Feel free to fix it. It should be one line.

[2018-01-12 02:19] sushain97 opened #266 "Switch Circle's build to use beta.apertium.org's (or similar) config"
More features are enabled on beta, making it easier to test non-translation PRs.

[code]

[2018-01-12 02:41] #147 closed

[2018-01-15 02:12] jonorthwash commented on #210
o_O

[2018-01-15 02:50] sushain97 commented on #210
It's because APy doesn't support a "return autoglottonyms for all languages" call, only "return all language names in X language". To replicate the first with the second would require N calls of the second where N is the number of languages. So, we put them into `localizations.js` instead.

[2018-01-15 02:57] sushain97 opened #267 "Prevent extraneous instant translation request"
With instant translation enabled, if I type a word in and click translate, I see the loading spinner and it translates.

However, within ~ 2 seconds, the instant translation will trigger since I stopped typing and it will re-translate the _same_ text. This shouldn't happen since it's an extra request and a weird interface quirk.

[2018-01-15 03:02] #259 closed

[2018-01-15 05:13] jonorthwash commented on #210
I see.  Is our algorithm for localising the names still "1. check in interface language, 2. check in own language, 3. fall back on code"?  And 1 queries APy and 2 checks the local localisations file?

Could we just do all those queries up front at make and build a separate file with that data?  I guess we already do a lot of requests at make?

[2018-01-15 07:14] sushain97 commented on #210
Yes, exactly correct on all counts.

We could do all the queries but that would be 100+ e.g. on beta.apertium.org.
Would take forever for the build indeed.

On Jan 14, 2018 11:13 PM, "Jonathan Washington" <notifications@github.com>
wrote:

I see. Is our algorithm for localising the names still "1. check in
interface language, 2. check in own language, 3. fall back on code"? And 1
queries APy and 2

[2018-01-15 18:56] jonorthwash commented on #210
So can you think of another way to keep everything in one place and perhaps synchronise it elsewhere?

[2018-01-15 19:03] sushain97 commented on #210
We could have a function in APy that creates the list then we update it
manually in localisation.js. Or, we could add the somewhat specialized
endpoint to APy that retrieves autoglottonyms for the specified codes.

On Jan 15, 2018 12:56 PM, "Jonathan Washington" <notifications@github.com>
wrote:

Would take forever for the build indeed.

So can you think of another way to keep everything in one pl

[2018-01-16 02:14] jonorthwash commented on #210
I'm okay with either, though I kind of like just having an endpoint for it.

[2018-01-17 10:15] ftyers opened #269 "Get rid of intro text."
Get rid of the following:

[code]

They take a lot of space and are superfluous.

[2018-01-24 15:29] jonorthwash commented on #269
Maybe it would be good to have an explanation somewhere, though?  If you just come across the site randomly, you might not know what it's for.

Perhaps replace with
[code]
?

[2018-01-24 15:32] jonorthwash opened #272 "secondary title could (should?) be localised"
The secondary title isn't currently localised.  This results in e.g. "Turkic" being in English no matter what language the rest of the interface is in:
![2018-01-24-10 26 26_001](https://user-images.githubusercontent.com/963849/35340598-8825364a-00f1-11e8-8670-3dd85d4e5909.png)

I'm not sure localising this is the right way to go, but perhaps in some cases it makes sense.  If we were to have a loc

[2018-01-24 15:33] sushain97 commented on #269
Yeah, that sounds potentially better.

[2018-01-24 15:33] jonorthwash commented on #12
Is this still being worked on?

[2018-01-26 20:38] jonorthwash commented on #269
Links to documentation, especially for how to use the generator, might be good?  Or should we figure out how to put some example form for the transducer in question?

[2018-01-26 22:17] ftyers commented on #269
No no no :D ... please get rid of them. Another option would be to have a question mark icon somewhere with a tooltip, but they are _massive_ waaaaay too big.

[2018-01-26 22:20] unhammer commented on #269
In http://jorgal.uit.no/index.sme.html?dir=sme-nob#translation we use the placeholder attribute on the input box because of feedback from people who thought the text was a waste of space. Also removed  some other stuff from the main page as well as the html translation page (well, apertium.org should keep the lang selectors ;)).

[2018-01-30 19:17] ftyers opened #273 "Thumbs up and thumbs down icons for people to rate translations"
It would be cool to have thumbs up and thumbs down icons so that people can rate translations as good/bad.

[2018-01-30 19:20] LuccoJ commented on #273
With that available, it would be useful to me to have an APy call to retrieve the average user assessment for a language pair (in order to prioritize Apertium translations over other engines I'm using in my software, depending on perceived quality).

This seems like it could be part of the work being done on #55

[2018-01-30 19:21] sushain97 commented on #273
This should just be the interface through which the suggestion interaction
is started, i.e. thumbs down lets you start suggesting. I think Google does
it this way?

On Jan 30, 2018 1:17 PM, "Francis Tyers" <notifications@github.com> wrote:

[2018-01-30 19:22] LuccoJ commented on #273
@sushain97 That sounds like a potentially good idea, although I'm not entirely sure... I can picture myself giving a translation a thumbs-up for being remarkable for a machine translation (maybe of a difficult sentence), but still thinking it needs refinement.

From my point of view anyway, it wouldn't "just" be that, because I could use the 0...1 number for the average thumbs in a language pair.

[2018-02-20 20:24] ftyers commented on #269
I've commented it out in  ac52067 and updated the apertium website, now it looks much better.

[2018-02-20 20:27] sushain97 commented on #269
I still don't agree with completing removing the text. They are redundant to us but we've used the interface hundreds of times. I'm going to move your commit to a branch until either a) we come to a consensus to remove it or b) we go with @jonorthwash or @unhammer's suggestions (shorter text or placeholder) across the modes which I'm fine with. Feel free to use the branch for the Apertium website

[2018-02-20 20:30] sushain97 opened #275 "Switch Jsonlint to json"
JSONLint is broken.

We should use https://github.com/trentm/json.

[2018-02-20 20:43] sushain97 commented on #275
fixed in 5aa4550f239ceaf6a3f565fd48338ac9bb80504b

[2018-02-20 20:43] #275 closed

[2018-02-20 21:01] ftyers commented on #269
@sushain97 ... it's obvious because that's how Google works, how Yandex works and how most system works.

* Google (translate.google.com): tiny text underneath box ... good design
* Yandex (https://translate.yandex.ru/): text inside entry box that disappears... good design

...

* Apertium: massive thing at the top of the page taking up a tonne of space which makes parts of the UI go off the scree

[2018-02-20 21:18] sushain97 commented on #269
The translation interface isn't the only thing that's relevant here. There
are two others which aren't as clear and consistency is important.

Whether it forces parts of the UI out of the viewport is completely a
function of your resolution. I've never experienced that problem on any
machine I've used to access apertium.org but my personal experience isn't
relevant either.

I'm fine with Unhammer'

[2018-02-20 21:25] ftyers commented on #269
It's not really a change I wanted to make, I figured someone else with more experience with the code might want to do it. But in any case I did it because after the _n_th time of the text appearing I had had enough. I shouldn't need to learn git in order to fix something obviously wrong with www.apertium.org.

[2018-02-20 21:32] sushain97 commented on #269
Is it not possible to edit `index.html.in` locally? There's no need to involve Git and as long as no one edits that line, you won't have any trouble. I doubt that line has been edited for months (years?).

[2018-02-20 21:34] ftyers commented on #269
That's what I've done (again). But I keep commenting out locally and it keeps coming back, and it's not something I really want to debug, I just want it fixed. Perhaps the best idea is to fork the repo and make the Apertium installations use that ?

[2018-02-20 21:40] sushain97 commented on #269
I don't know why your local changes would keep disappearing unless you're doing more than a `git pull`. Git makes it very hard to lose local changes when updating. What command are you using? You can also `git commit` your comment without pushing it and then use `git pull --rebase` and that should ensure it doesn't get erased.

Forking is always possible but merging changes from origin into a fork

[2018-02-20 21:43] ftyers commented on #269
I don't know why either. And I don't keep a track of all the git commands I copy and paste into the terminal each time the thing breaks. To be able to modify apertium.org you need an account on the host, xixona which is not easy to get. As far as I know it's also not easy to change where apertium.org points. So we are kind of stuck with it.

[2018-02-20 21:45] jonorthwash commented on #269
It sounds like everyone is okay with @unhammer's and Yandex's solution.  Let's go with that?

[2018-02-20 21:49] ftyers commented on #269
@jonorthwash that's fine let me know when you've done it!

[2018-02-20 21:49] jonorthwash commented on #269
If we go that way (the placeholder text that disappears), we should probably reword it to something like this:
[code]

[2018-02-21 03:00] sushain97 commented on #269
aa046dd implements the placeholder version of the texts. Whether to reword them or not is a bit more involved since we'll have to delete all the existing localizations. There's no apparatus for per localization fallbacks so that we could use the existing versions if they exist and the old otherwise. If we just leave the old ones here, we'll have misleading #s on completion and will _never_ remembe

[2018-02-21 04:30] jonorthwash commented on #269
What about changing the name of the string (i.e., adding a new string for this and removing the old one from the English localisation)?

[2018-02-21 04:34] sushain97 commented on #269
Well, that just means we have a dead string. What I meant by

is that I don't think the two string solution would work. Sure, we could modify the code to support it... but seems like just letting people localize three sentences again instead of trying to build legacy-style support is OK here.

[2018-02-21 04:35] sushain97 commented on #269
Actually, in light of https://github.com/goavki/apertium-html-tools/issues/198, I'm really leaning towards just ditching at least the existing translation string.

[2018-02-21 04:41] jonorthwash commented on #269
Yeah, I think it's not a real problem.  Keeping localisations up to date is going to be a constant struggle anyway.  Dwelling o the level of bit rot we might cause in that domain is probably not the best decision-making strategy.

[2018-02-22 03:28] sushain97 opened #276 "Improvements to placeholder strings"
See previous discussion at https://github.com/goavki/apertium-html-tools/issues/269.

[2018-02-22 03:28] #269 closed

[2018-02-24 21:22] jonorthwash commented on #276
I think we've fixed that now!

[2018-02-24 21:22] #276 closed

[2018-02-24 21:29] jonorthwash commented on #17
Characters are also displaying wrong in Marathi:
![2018-02-24-16 28 45_001](https://user-images.githubusercontent.com/963849/36635253-d66bcdcc-197f-11e8-818d-d8625674cec4.png)

E.g., झ and खा.

[2018-02-24 22:09] shardulc commented on #17
Devanagari characters look pretty good in Noto.

[2018-02-28 04:31] jonorthwash commented on #17
And it's not good for Tatra either!

Note the different heights of ө, ә, ү, җ as commpared to other characters.  (Though the ә is okay in the right corner of the screenshot.)
![2018-02-27-23 29 20_001](https://user-images.githubusercontent.com/963849/36770119-5b633a9a-1c16-11e8-9c8c-548989cd43c4.png)

[2018-02-28 05:04] jonorthwash commented on #17
@sushain97, on IRC you shared reasoning why switching to Noto is harder than it sounds.  Could you explain here too?

[2018-02-28 13:46] sushain97 commented on #17
Putting this here so I can read it fully later:
https://m.mediawiki.org/wiki/Universal_Language_Selector/WebFonts.

On Feb 27, 2018 11:04 PM, "Jonathan Washington" <notifications@github.com>
wrote:

[2018-02-28 15:10] sushain97 commented on #17
Using Noto is involved because:

1. we need some place to associate language codes => fonts (should it be `locales.json` or another file?)
2. that place needs to be integrated into the build system
3. we need to ensure that
    - on page load: load correct font and adjust corresponding CSS (we need to prevent FOUC unless we embed the correct font at build time (complicated with our outmoded build

[2018-03-05 20:21] sushain97 commented on #130
Adding https://github.com/purifycss/purifycss to the CSS minification pipeline would save a large % of the CSS bytes. Switching to Bootstrap 4 would also reduce our needs to jQuery slim which would save a bunch of bytes.

[2018-03-05 20:35] Androbin commented on #130
`purifycss` offers a `--min` flag. Shall we "add" `purifycss` to the CSS pipeline or use it as a replacement?

[2018-03-05 20:37] sushain97 commented on #130
Replacement works.

[2018-03-05 20:41] Androbin commented on #130
I guess this should still be done on a per-file basis, though `purifycss` tends to merging.

[2018-03-07 20:02] Androbin commented on #130
Should this still be done on a per-file basis or do we want `purifycss` to produce `all.css` directly?

[2018-03-07 20:08] sushain97 commented on #130
I don't think there's a reason to produce intermediate files.

On Mar 7, 2018 2:02 PM, "Robin Richtsfeld" <notifications@github.com> wrote:

Should this still be done on a per-file basis or do we want purifycss to
produce all.css directly?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/apertium/apertium-html-tools/issues/13

[2018-03-07 20:08] Androbin commented on #130
Just noticed that the minification step is performed on the merged file anyway.

[2018-03-07 21:12] Androbin commented on #130
@unhammer @sushain97 You think we should try splitting on a per-module basis now?

[2018-03-07 21:34] sushain97 commented on #130
I'm a bit concerned that would complicate the build more than it would actually save. Our non-vendored JS size is quite small.

[2018-03-08 19:14] likhitgrandhi commented on #258
hey @sushain97 , i did replicate the above scenario, i dont understand the expected result of the fix. Im sorry if im being too noob.

[2018-03-08 20:43] sushain97 commented on #258
Take a look at how the navbar looks on beta.apertium.org

[2018-03-09 10:40] likhitgrandhi commented on #258
![screenshot from 2018-03-09 16-08-34](https://user-images.githubusercontent.com/13435169/37203602-3a8ec6f4-23b4-11e8-95e7-e5f1201fe89c.png)
hey @sushain97, would this be an appropriate fix for the above issue ? or should there still be a change in the positioning of the menu item ?

[2018-03-09 11:59] roybaer opened #288 "Determine how html-tools and APY might be affected by (and make them compliant with) the GDPR and other regulations"
One thing about the new EU [General Data Protection Regulation](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation) is that it classifies IP addresses as personal data.
Exporting such personal data to other countries without the user's permission might therefore be problematic, especially because an IP address will already be "exported" when the web page makes use of e.g. Google APIs

[2018-03-09 12:30] ftyers commented on #288
Is there any reason we should be sending the user's IP to Google anyway? Can't we proxy these services ? In any case +1 for complying with the relevant legislation.

[2018-03-09 12:55] sushain97 commented on #258
The position looks really strange... left align seems better.

On Fri, Mar 9, 2018 at 4:40 AM, Likhit Grandhi <notifications@github.com>
wrote:

[2018-03-10 14:23] sushain97 opened #291 "Adjust deploy script for GitHub migration"

[2018-03-10 15:46] sushain97 commented on #291
Hmm.. I suppose this is actually `apertium-get`'s job.

[2018-03-10 15:46] #291 closed

[2018-03-16 16:55] sushain97 commented on #288
As far as I recall, we're not.

[2018-03-17 07:20] shuchita-g1 commented on #267
I would like to solve this issue.

[2018-03-17 07:28] shuchita-g1 commented on #246
No description provided. need bit of help to solve this

[2018-03-17 11:06] roybaer commented on #288
Well, uBlock Origin tells me that the installation at www.apertium.org connects to these domains:

- apertium.org
  - www.apertium.org
- ajax.googleapis.com
- bootstrapcdn.com
  - netdna.bootstrapcdn.com
- browser-update.org
- cloudflare.com
  - cdnjs.cloudflare.com
- fonts.googleapis.com
- gstatic.com
  - fonts.gstatic.com

Anything beyond *.apertium.org is problematic.  Is there an easy way to a

[2018-03-17 14:33] sushain97 commented on #288
Ah, those are CDNs. No, I'm not OK with removing any of those because they will cause large performance degradations on the site in the context of Apertium's servers slowness. Even if the server were fast, using CDNs is industry standard.

[2018-03-17 14:34] sushain97 commented on #288
However, the site is built to allow fallbacks for most of those links so users can feel free to disable access to them via their browser.

[2018-03-17 16:55] sushain97 commented on #246
@shuchita-g1, Take a look at how the "Multi step translation (experimental)" option looks on beta.apertium.org and compare to how it looks in my screenshot. It should be flush with the left edge and the parens should be around experimental.

[2018-03-18 10:18] unhammer commented on #288
The fact that we use CDN's should go in the privacy policy, along with the fact that all request are logged.

We currently log what happens client-side with Matomo, which I believe is configured to be fairly GDPR-friendly (at least it removes last parts of IP addresses). I don't think contents of requests are not logged in Matomo, but the server logs contents in `journald` – it's possible to flush

[2018-03-19 15:25] Axle7XStriker commented on #49
I tried to recreate the bug but I think this issue has already been resolved. And if not can anyone tell me what still remains in this issue.

[2018-03-20 00:51] sushain97 commented on #49
Hm, it's mostly resolved. Seems like the button has lost its alignment, though:

![image](https://user-images.githubusercontent.com/4211838/37629811-eaa721ba-2bae-11e8-97d8-78f107a690da.png)

[2018-03-20 14:27] sushain97 opened #297 "Fix build"
https://circleci.com/gh/apertium/apertium-html-tools/502

[2018-03-20 20:54] mrcolo commented on #297
I can work on this!

[2018-03-20 21:02] sushain97 commented on #297
@mrcolo, sounds good! Send a PR.

[2018-03-21 02:06] #49 closed

[2018-03-21 03:05] #297 closed

[2018-03-21 03:06] sushain97 commented on #297
@mrcolo my apologies for taking care of this instead of letting you. It was a very simple change and I don't like the build to be broken for too long. There are many other issues in this repo tagged as `beginner` that it would be great if you could take a look at!

[2018-03-21 18:02] mrcolo commented on #297
Sure! Will do!

[2018-03-31 18:52] aditya-369 commented on #105
Hi @sushain97 Please tell me where to start this enhancement?

[2018-03-31 18:57] aditya-369 commented on #106
Hi @sushain97 I want to work for this issue please tell me where to start!.

[2018-04-01 21:12] IlnarSelimcan opened #308 "`Download' tab of apertium.org and Ko refers to Sourceforge"
Not sure whether this is the right place to report it, but the `Download' tab of apertium.org, turkic.apertium.org and beta.apertium.org do not reflect the fact that Apertium has been moved to Github and still point to Sourceforge.

selimcan

[2018-04-04 20:13] #308 closed

[2018-04-05 07:10] unhammer commented on #288
https://madmimi.com/p/4b4ffb?fe=1&pact=3326800-144812898-6864785919-c9c86a6dbb647db50ddd59d45c601b7971cd2c41 relevant tips for our Matomo installation

[2018-04-09 20:57] sushain97 opened #310 "Update vulnerable jQuery version"
We are currently on 1.11.3 but: https://snyk.io/vuln/npm:jquery?lh@1.11.3.

Ideally, we would upgrade to 3 which should be supported: https://github.com/twbs/bootstrap/blob/v3.3.7/bower.json#L32 and is forwards compatible with BS4 AFAIK.

[2018-04-09 21:00] #114 closed

[2018-04-09 21:03] sushain97 opened #311 "Install APy from PIP in Dockerfile"

[2018-04-09 21:04] sushain97 opened #312 "Organize HTML into a folder"

[2018-04-22 10:13] satya-vinay commented on #312
Sorry,but Can you please explain it more properly?

[2018-04-22 12:11] sushain97 commented on #312
Which part of it?

[2018-04-22 14:28] sushain97 commented on #312
A top-level directory would be fine for HTML.

[2018-04-22 14:44] satya-vinay commented on #312
fine then I will create a directory HTML and add the following files there:
prod-head.html
not-found.html
debug-head.html

Anything else should I add there?

[2018-04-22 14:51] sushain97 commented on #312
I'm thinking we might as well add `index.html.in` as well.

[2018-04-30 15:07] sushain97 commented on #311
Using `apertium/apy` from Docker hub.

[2018-04-30 15:07] #311 closed

[2018-04-30 15:44] #310 closed

[2018-04-30 16:06] sushain97 opened #314 "Fix frankenstein'd Bootstrap CSS"
Apparently the bootstrap CSS was edited directly at one point and now there's no good upgrade path. Ideally, we could use the vendored version from CDN with fallback and then apply our overrides on top of it (mostly just colors). Upgrading to BS4 would also solve this issue.

[2018-05-14 12:00] unhammer opened #315 "Remove soft hyphens before translating"
There is no point in keeping them. They mess up analyses. Compare with soft hyphens:

https://www.apertium.org/index.nno.html?dir=nob-nno&q=Det%20var%20et%20problem%20i%20arbeids%C2%AD%C2%ADgruppa.#translation

and without:

https://www.apertium.org/index.nno.html?dir=nob-nno&q=Det%20var%20et%20problem%20i%20arbeidsgruppa.#translation

[2018-06-06 11:34] jonorthwash opened #316 "default path in chained translation"
Html-tools should also offer a sensible default path in chained translation.  We could do it either automatically based on number of stems or something or manually set defaults.

A user should also be able to set their preferred path, and the browser should remember it.  See #91.

Including @hectoralos @sushain97 @shardulc .

[2018-06-15 03:09] JPJPJPOPOP commented on #258
The problem is actually that the navbar is sometimes small enough (depends which modes are enabled) to fit in a gap between the Apertium sign and the locale select drop down.

![screen shot 2018-06-14 at 8 05 31 pm](https://user-images.githubusercontent.com/13565154/41448281-9a5489c4-700e-11e8-88e3-d48ef66d6083.png)

[2018-06-16 21:04] #315 closed

[2018-06-17 02:57] #267 closed

[2018-06-18 01:03] #246 closed

[2018-08-31 13:00] ftyers opened #323 "Build failing without optional deps (like htmlmin)"
Whatever dependencies are needed should be bundled. `xixona` doesn't have a working `pip` installation and so installing them is a massive pain.

[2018-08-31 13:01] sushain97 commented on #323
There aren't any required pip packages afaik. I've been careful to keep
that in check.

On Fri, Aug 31, 2018, 8:00 AM Francis Tyers <notifications@github.com>
wrote:

[2018-08-31 13:05] ftyers commented on #323
https://paste2.org/sXj1A2Dn

[2018-08-31 13:07] sushain97 opened #324 "Make it easy to download and update an installable artifact"
Something like `./tools/deploy-artifact build_number` that downloads gzip from Circle and just extracts it.

cc @ftyers

[2018-09-03 17:50] #323 closed

[2018-09-03 17:52] flammie opened #325 "Display deprecation notice more conservatively"
When I open apertium.org I get a warning that I'm using old browser (Chromium 63), is this generated by the apertium website? If it's tunablem and not needed by some feature used in the code, it might be nicer turned off or so, I think atm 63 cannot be more than couple of months old and it's not really the task of apertium.org to remind me of browser updates...

[2018-09-03 18:08] sushain97 commented on #325
63 is about 9 months old and IIRC anything older than ~3 versions is considered 'deprecated' since they push for frequent updates. In fact, it's 'almost' considered insecure: https://github.com/browser-update/browser-update/blob/master/browsers.json#L24

They're from http://browser-update.org/.

The thresholds can be configured. I don't think the current settings are an issue since you can dismiss

[2018-09-03 18:34] sushain97 commented on #324
In retrospect, this isn't possible since the settings are often changed and contribute to the build :(

[2018-09-03 18:34] #324 closed

[2018-09-04 11:18] sushain97 commented on #325
Is it broken for you? It shouldn't be.

[2018-09-04 13:51] flammie commented on #325
I must admit I just don't understand modern web technology enough so I trust your judgement that the warning is well justified :-D

[2018-09-04 20:17] sushain97 commented on #325
Alas, if we were using more modern web technology, we wouldn't have this problem since we could downlevel the code and polyfill according to exactly what requirements we wanted to set instead of trying to guess very conservatively.

[2018-09-12 22:19] sushain97 commented on #198
This is no longer valid after #269.

[2018-09-12 22:19] #198 closed

[2018-09-17 04:28] sushain97 opened #329 "Not found banner placement is wrong"
Current DOM:

![image](https://user-images.githubusercontent.com/4211838/45606132-648fb380-b9f7-11e8-9969-97ef6eba98a7.png)

Current Placement:

![image](https://user-images.githubusercontent.com/4211838/45606125-56da2e00-b9f7-11e8-8a53-ed87d474f4ed.png)

Correct DOM:

![image](https://user-images.githubusercontent.com/4211838/45606091-1e3a5480-b9f7-11e8-9c17-80eb32dae351.png)

Correct Placement:

[2018-09-17 23:15] #312 closed

[2018-10-04 14:27] lexcorp16 commented on #329
hi @sushain97 I would like to take a look at this. How can you help get started

[2018-10-04 22:16] sushain97 commented on #329
@lexcorp16 have you cloned the repository and built it?

[2018-11-09 20:28] milanandreew commented on #329
@lexcorp16 are you still interested in this issue?
I'd be more than happy to take it over.

[2018-11-09 20:42] milanandreew commented on #329
@sushain97
how to replicate this issue?
thanks in advance

[2018-11-09 20:43] sushain97 commented on #329
@milanandreew e.g. http://beta.apertium.org/not-found.html

[2018-11-09 20:51] milanandreew commented on #329
Only the beta has this issue.

[2018-11-09 20:51] milanandreew commented on #329
Right?

[2018-11-09 20:51] xavivars opened #330 "Not found pages return a HTTP status code of 200"
Pages that doesn't exist (i.e. apertium.org/not-found.html) should, on top of displaying a banner saying the page doesn't exist, return a 404 status code. Currently, a 200 is sent to the browser.

[2018-11-09 20:53] xavivars commented on #329
When is this banner shown?

[2018-11-09 20:53] sushain97 commented on #329
You should configure your webserver to send 404 to this page.

[2018-11-09 20:54] sushain97 commented on #330
The not found page itself should display a 200 if you access it directly. Your web server should redirect to the not found page with a 400. This isn't a role that html-tools plays. It's just a function of your web server.

[2018-11-09 20:55] sushain97 commented on #330
That is, the page you're referring to _does exist_ :)

[2018-11-09 20:55] #330 closed

[2018-11-09 20:57] xavivars commented on #330
I misunderstood how it was working :P

[2018-11-09 20:57] xavivars commented on #330
BTW, is the redirect set up somewhere? Cound find it in beta.apertium.org

[2018-11-09 20:57] xavivars commented on #330
(I'll delete the issue, it makes no sense)

[2018-11-09 21:36] milanandreew commented on #329
Just for clarification: This repository is responsible for https://apertium.org/ right?
Not for the beta.apertium.org link?
Because my build works just fine.

[2018-11-09 21:44] sushain97 commented on #329
It's responsible for both.

[2018-11-09 21:44] milanandreew commented on #329
Beta:
![screencapture-beta-apertium-org-index-eng-html-2018-11-09-21_48_33](https://user-images.githubusercontent.com/43289010/48289792-f6082880-e470-11e8-9f26-0b9304be2d7e.png)
My build (and apertium.org/translate):
![screencapture-localhost-8082-build-index-eng-html-2018-11-09-21_48_48](https://user-images.githubusercontent.com/43289010/48289803-04eedb00-e471-11e8-8e44-d2f546d3aacb.png)

[2018-11-09 22:18] milanandreew commented on #329
So how can we replicate the issue?

[2018-11-09 23:14] sushain97 commented on #329
Ah, this doesn't seem to happen with all configs. Try this one:

[code]

[2018-11-10 07:29] milanandreew commented on #329
thx

[2018-11-10 10:30] milanandreew commented on #329
I mean, it works, but I can't replicate the issue.

[2018-11-11 01:37] sushain97 commented on #329
Alas, not sure how to help since I can replicate it fine if I use that config with master and directly go to `not-found.html`.

[2018-11-11 07:12] milanandreew commented on #329
Yep.

[2018-11-11 07:14] milanandreew commented on #329
Do you have jsmin and csscompressor installed?

[2018-11-11 11:02] milanandreew commented on #329
So this is a minification issue.

[2018-11-11 11:04] milanandreew commented on #329
Question: Is html/js/css minififcation really necessary?

[2018-11-11 11:07] milanandreew commented on #329
I mean, I get trying to size down files for slow internet connections.

[2018-11-11 11:39] milanandreew commented on #329
I don't think it is...
After pip install -r and all that it still shows up where it should be.

[2018-11-11 13:12] milanandreew commented on #329
Yes it is a lint issue, forgot to delete old build directory.
Works on my vm.

[2018-11-11 19:59] sushain97 commented on #329
Or within our faulty input to it. I would ensure the HTML validates.

[2018-11-12 05:14] milanandreew commented on #329
On it.

[2018-11-13 22:02] myfrom commented on #200
Hello!
Could I take this as part of a GCI Task (as well as #314 since it's related)?
I'd like to make sure it still needs to be worked on and that no-one has taken this already.

Also, could I ask a few questions:
- As far as I understand, the only required thing with the upgrade is to preserve current look of the website, right?
- And what are the build tools used in this project? Could it be ext

[2018-11-14 05:14] sushain97 commented on #200
Sure!

Yes and replace any redundant classes that exist in BS4.

We don't use Node/Ruby/C in this project so adding the SASS compiler is a no-go. However, the themed version could be built using the SASS compiler and then used in the repo. Note that this project already supports some notion of theming from bootswatch.com via the `make [theme]` target.

[2018-11-14 06:16] jonorthwash opened #331 "æsthetic regressions in analyser"
An older version of html-tools at http://turkic.apertium.org/ (1) formats the output of morphological analysis nicely.  A more recent version at http://beta.apertium.org/ (2) has lost a lot of the things that not just made the formatting nice, but made the output usable.  These regressions include:
* vertical alignment of form and analysis
* highlighting of hovered cohort
* horizontal lines betwee

[2018-11-14 06:44] sushain97 commented on #331
root cause: https://github.com/ jquery/jquery/issues/1835

[2018-11-14 06:45] #331 closed

[2018-11-15 23:17] milanandreew commented on #329
I couldn't find anything.

[2018-11-25 19:53] myfrom opened #333 "Language dropdowns bug in RTL locales"
The language dropdowns in translate mode (both target and input) don't span into multiple columns on smaller screens when using RTL locale. This seems to be a JS bug.

## Expected behaviour:

Span correctly into multiple columns like on eg. English locale

![apertium bug ltr](https://user-images.githubusercontent.com/19410489/48983810-e553e580-f0f3-11e8-8b9d-23397477a92e.png)

## Actual behaviour:

[2018-12-03 10:41] himanshuc3 commented on #329
@sushain97 Is this project available for GSOC 2019.

[2018-12-03 17:52] sushain97 commented on #329
@himanshuc3 that's a function of whether Apertium is accepted to GSoC which is not yet decided.

[2018-12-27 03:47] avyayv opened #334 "Paradigm generation enhancement"
Move some of the code from [this repo](https://github.com/avyayv/apertium-paradigm-generator) so that paradigms for words are visible.

To do this, we would need to allow for all language-specific tags.

[2019-01-30 20:05] unhammer opened #335 "nno_e languageVariant doesn't show on apertium.org"
It should show just like por_BR, cat_val etc.

It's in `config.PAIRS` in https://www.apertium.org/js/min.js and it's working as https://apertium.org/index.nno.html?dir=nob-nno_e&q=jeg%20liker%20%C3%A5%20jobbe%20her.#translation and in https://www.apertium.org/apy/listPairs

[2019-01-30 20:32] unhammer commented on #335
aha config.conf needs "e" in ALLOWED_VARIANTS

[2019-02-19 13:18] ayushjainrksh opened #337 "Visiting localhost:2737/ takes to apertium wiki"
When running apertium-html-tools using `docker-compose up`, if I try to visit localhost:2737/ it takes me to http://wiki.apertium.org/wiki/Apertium-apy. Visiting this route should show a status page with a link to wiki.

[2019-02-21 16:36] ayushjainrksh opened #338 "Issue with the positioning of cancel button"
Cancel button of translate document page floats on the bottom of the text area whereas it should have been on the top navbar position.
![screenshot from 2019-02-21 11-45-09](https://user-images.githubusercontent.com/33171576/53185383-ee861d00-3624-11e9-9be9-1121ca2e1d20.png)
![screenshot from 2019-02-21 11-45-02](https://user-images.githubusercontent.com/33171576/53185393-f776ee80-3624-11e9-9866-e

[2019-02-21 16:41] sushain97 commented on #338
This is intentional. In UI design, it's ideal to not have elements moving around that the user is familiar with already. In webpage translation, we don't really have a choice and force movement of the source languages bar. In document translation, this is avoidable so we avoid it.

[2019-02-22 13:11] ayushjainrksh commented on #338
But it is weird to see cancel button placed at that position in translate document. We can place it at the same place as translate website or maybe make some changes to the UI itself by introducing a secondary navbar with the options that dont fit in. Or what do you suggest?

[2019-02-22 17:47] sushain97 commented on #338
The translate website positioning is the one I don't like per my
explanation. An extra navbar is too much. I think it's fine as is.

On Fri, Feb 22, 2019, 5:11 AM Ayush Jain <notifications@github.com> wrote:

[2019-03-02 11:23] sharad-99 commented on #333
Is it done? It is behaving normally in my browser.

[2019-03-02 20:07] sharad-99 commented on #329
The error is not showing up in my browser.

[2019-03-02 23:14] sushain97 commented on #333
No. This bug is still an issue with RTL localizations and a relatively small viewport.

[2019-03-02 23:18] sushain97 commented on #329
The issue does not appear unless the config above is used along with the minifiers.

[2019-03-06 06:12] sharad-99 commented on #12
Why can't we use this: <p contenteditable="true" spellcheck="true">
</p>
I am taking only english in my reference as of now.

[2019-03-28 13:53] IlnarSelimcan commented on #105
By dictionary lookup, do you guys mean:
- passing a lexical form through a bilingual dictionary and returning all possible translations, or
- passing a surface form through a  morphological analyser, taking all possible analyses, passing them through a bilingual transducer, taking all possible translations, passing them through transfer, generating surface forms?

[2019-03-28 14:28] IlnarSelimcan commented on #105
A related note or rant about modes.xml is that even with gendebug [option](http://wiki.apertium.org/wiki/Modes) set to "yes", all pipelines defined in generated modes begin with morphological analysis, and there is no way of referring to parts of the pipeline saying something like "kaz-tat from interchunk to postgen" etc without copypasting the mode file itself (and thus breaking a CS 101) and int

[2019-03-28 14:52] unhammer commented on #105
That shouldn't be too hard to do if you have access to an xml parser, assuming translators use the regular names stages.

[2019-03-29 19:03] ApertiumBot opened #342 "Variants without non-variant language buggy in language list"
This issue was automatically made by begiak, Apertium's beloved IRC bot, by the order of sushain on #apertium. A human is yet to update the description.

[2019-03-29 19:04] sushain97 commented on #342
![image](https://user-images.githubusercontent.com/4211838/55256632-7fa37180-522b-11e9-8742-174151a05a49.png)

Punjabi variants should not fall under Occitan.

[2019-03-29 23:37] sushain97 opened #343 "More intelligent default pair"
Currently, we default to the first available pair. It would be nicer to default to something based on the user's locale.

[2019-03-30 00:26] #342 closed

[2019-04-19 12:26] IlnarSelimcan commented on #343
Say, the language listed first in browser's preferences as the default target language.

[2019-06-07 05:22] snehitha211 commented on #203
whenever we open the website for the second time ,it is redirecting to the page we have first opened.
if we make it to open a fresh page every time recursion would not happen

[2019-06-08 09:26] snehitha211 commented on #329
i'm very much interested in this. can u please help me get started.

[2019-08-23 12:35] Nutomic commented on #288
I dont think "industry standard" is a good argument to make, when the standard for internet companies is to actively spy on their users, and collect as much data as possible. Open source projects should avoid this behaviour as much as possible.

Server slowness is also not a very good argument imo, because it is very easy to add caching for static resources in nginx. [Here is some documentation fo

[2019-08-23 14:04] nipos commented on #288
I also think that it's a very bad idea to embed so many third-parties.
You're right that the for-profit companies do that,too and that's a big problem but unfortunately we can't change that.
However in a open source project,we should act as a positive example and take care about the users privacy.
Many people don't want to use things from Google because they spy on their users and those users are

[2019-09-14 14:53] luky1984 opened #348 "Make doesn't work"
Running make command in apertium html tools doesn't work, it makes JSONDecodeError error:

at parser.locale = json.loads(''.join(open(json_path).readlines()))

this worked as fix probably:

`parser.locale = json.loads(json.dumps(''.join(open(json_path).readlines())))
`
and also all places where is json.loads, but then there is another problem:

if i change the problematic line to
parser.alpha2name

[2019-09-14 16:01] luky1984 commented on #348
Hm... i was messing with this couple of hours but it turned out that problem was that the APY url in config was ending with /. It must end without /

APY_URL = something (must not end with /)

[2019-09-14 16:01] #348 closed

[2019-11-07 16:48] jonorthwash opened #349 "not all available languages are shown?"
In various browsers, both mobile and desktop, not all theoretically available target languages may be translated into.  For instance, in the attached screenshot, translation from English should show many more destination languages, but only four are available: Catalan, Galician, Spanish, and Esperanto.

Note: there's a chance this is an APy bug instead.  [First reported on apertium-stuff](https://

[2019-11-07 16:50] jonorthwash commented on #349
Chrome on Android:
![Screenshot_20191107-095810_Chrome](https://user-images.githubusercontent.com/963849/68409256-c1e34880-0154-11ea-90fc-819074140016.png)

[2019-11-08 01:34] jonorthwash commented on #349
This is an [issue in APy](https://github.com/apertium/apertium-apy/issues/140) (or its current deployment).

[2019-11-08 01:34] #349 closed

[2019-12-04 03:32] scoopgracie opened #350 "Use material design?"
Should we switch to a Material Design interface?

[2019-12-04 04:48] sushain97 commented on #350
html-tools already supports theming, some of them being relatively "material design"y (see the wiki for details). More important than the UI is switching the site away from jQuery to something like Preact or VueJS. The amount of features the site has now has outgrown jQuery and it's quite hard to add new things without breaking old ones or understanding some pretty convoluted code.

[2019-12-06 00:41] scoopgracie commented on #350
Should we add "Migrate off jQuery" as an issue? And maybe a GCI task?

[2019-12-06 01:10] sushain97 commented on #350
Sure, an issue is fine. There are related ones open.

It isn't GCI task sized. Would take at least week or two.

[2019-12-06 01:11] scoopgracie commented on #350
OK. Should I open it?

[2019-12-07 01:16] #350 closed

[2019-12-07 01:18] kj7rrv opened #351 "Migrate off jQuery"
The site has outgrown jQuery. We need to migrate off. Not sure how we make decisions here, but we will need to either choose a new framework or choose to not use one.

[2019-12-07 03:35] jonorthwash commented on #343
Moving on down to other languages if that's not available.

[2019-12-07 22:20] sushain97 commented on #351
No framework isn't really a viable option.

[2019-12-07 22:42] TinoDidriksen commented on #351
Outgrown jQuery? Goodness no. jQuery is alive and well, and unlike all the other fly-by-night new-every-week JS frameworks, it just works and is maintained. I say that project using other JS frameworks would be better off moving to jQuery.